@mixin font-face($font-family, $url) {
  @font-face {
    font-family: $font-family;
    src: url('#{$url}.otf') format('opentype');
    src: url('#{$url}.eot');
    src: url('#{$url}.woff') format('woff'),
    url('#{$url}.woff2') format('woff2'),
    url('#{$url}.ttf') format('truetype'),
    url('#{$url}.svg') format('svg');
  }
}

$fontsArray: (
    ('Free-Regular', 'free-regular/Free-Regular'),
    ('Free-Solid', 'free-solid/Free-Solid'),
    ('Brands-Regular', 'brands-regular/Brands-Regular')
);

@each $fontFamily, $url in $fontsArray {
  @include font-face($fontFamily, $url);
}

@mixin setStyle($fontFamily, $content) {
  font-family: $fontFamily;
  font-style: unset;
  word-break: keep-all;
  line-height: 1;
  &:before {
    content: $content;
  }
}

.icon-website {
  position: relative;
  &:before {
    @include backgroundImage();
    content: '';
    -webkit-mask: url('./webpack.svg') no-repeat;
    mask: url('./webpack.svg') no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    display: block;

    position: absolute;
  }

}


.icon-email {
  position: relative;

  &:before {
    content: '';
    display: block;

    -webkit-mask: url("./icon-email.svg") no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute;
  }
}

.icon-phone {
  position: relative;
  &.black {
    &:before {
      background-image: url("./icon-phone-dark.svg") ;
    }
  }

  &:before {
    content: '';
    display: block;

    -webkit-mask: url("./icon-phone.svg") no-repeat;
    mask: url("./icon-phone.svg") no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute;
    padding-top: 10px;
    width: 9px;
  }

}

.icon-address {
  position: relative;

  &:before {
    content: '';
    display: block;
    -webkit-mask: url("./icon-location-on.svg") no-repeat;
    mask: url("./icon-location-on.svg") no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute;
    padding-top: 12px;
    width: 9px;
  }
}

.icon-chevron-left {
  @include setStyle('Free-Solid', 'chevron-left')
}

.icon-chevron-right {
  @include setStyle('Free-Solid', 'chevron-right')
}

.icon-user-circle {
  @include setStyle('Free-Solid', 'user-circle')
}

.icon-plus {
  @include setStyle('Free-Solid', 'plus');
}

.icon-arrow-left {
  @include setStyle('Free-Solid', 'arrow-left');
  font-size: small;
}

.icon-info {
  @include setStyle('Free-Solid', 'info-circle');
}

.icon-spinner {
  @include setStyle('Free-Solid', 'spenner');
}

.icon-arrow-circle-down {
  @include setStyle('Free-Solid', 'arrow-alt-circle-down');
}
.icon-arrow {
  &.bottom {
    @include setStyle('Free-Solid', 'chevron-down');
  }
  &.top {
    @include setStyle('Free-Solid', 'chevron-up');
  }
}
