<div class="location main-container mobile">
  <div class="fizz-logo"></div>

  <div class="location_container inner-container">
    <div class="fizz-logo desktopView"></div>
    <div class="header-texts">
      <div class="page_container_title">Location</div>
      <div class="page_container_text">Share Your Location with Others</div>
    </div>
    <form [formGroup]="locationForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Street Address"
          formControlName="address"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Street Address Line 2"
          formControlName="address_second"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </div>
      <div class="form-group-wrapper">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="City"
            formControlName="city"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
          />
        </div>
        <div class="form-group-wrapper_select-container">
          <div class="arrow-dropdown">
            <i class="icon-arrow black bottom"></i>
          </div>
          <select
            class="form-control"
            formControlName="state"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
          >
            <option value="">State</option>
            <option
              *ngFor="let state of locationStateData"
              [ngValue]="state.code"
            >
              {{ state.code }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          placeholder="Zip Code"
          formControlName="zip"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </div>
    </form>
    <div class="slider-icons">
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon active"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
    </div>
    <div class="navigation_buttons_container">
      <div class="btn-container">
        <button class="btnBack" routerLink="/card-create/personal-info">
          <i class="icon-arrow-left"></i>
          <span>Back</span>
        </button>

        <button
          class="btnNext"
          [ngClass]="locationForm.valid ? 'active' : 'disabled'"
          (click)="handleClick()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
