.qr-wrapper {
  background-color: rgba(9, 8, 34, .78);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  padding-left: 56px;
  padding-right: 47px;
  display: flex;
  align-items: center;
  justify-content: center;

  .qr-content-container {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: auto;

    .qr-container {
      width: 216px;
      height: 216px;
      border-radius: 25px;
      background-color: #FFFFFF;
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
      margin-bottom: 40px;
      overflow: hidden;
    }

    .fizz-logo {
      width: 65px;
      height: 55px;
      margin-bottom: 30px;
    }

    .text-content {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 30px;
      max-width: 270px;
      font-family: ProximaNova, sans-serif;
      .bold {
        font-family: ProximaNovaBold, sans-serif;
      }
    }

    .qr-copy-btn {
      border-radius: 24px;
      cursor: pointer;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      max-width: 210px;
      min-width: 210px;
      padding: 15px 0 17px;
      background: transparent linear-gradient(91deg, #FE293C 0%, #FC2D67 100%) 0% 0% no-repeat padding-box;
      color: #FFFFFF;
      border: none;
      transition: all 0.2s;
      &:hover {
        background: #FFFFFF;
        color: #FC2A53;
      }
    }

  }
}
