<div class="qr-wrapper">
  <div class="qr-content-container">
    <div class="fizz-logo"></div>
    <div class="text-content">
      <span class="bold">Scan QR </span> code with phone camera to view your digital business card!
    </div>
    <div class="qr-container" (click)="onShare()">
      <app-qr size="216"></app-qr>
    </div>
    <button class="qr-copy-btn" (click)="handleLinkCopy()">Copy Link</button>
  </div>
</div>
