<div class="loader-wrapper" *ngIf="isLoad">
  <div class="loader-wrapper-fix">
    <div class="loader-content-wrapper">
      <div class="fizz-logo-loader"></div>
      <div class="loader-text">
        <span> Loading </span>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </div>
  </div>
</div>
<div class="preview-card main-container mobile">
  <div class="fizz-logo"></div>

  <div>
    <div class="fizz-logo mobile"></div>

    <div class="pallistha-title mobile">All in One Place!</div>
  </div>
  <div class="preview-card_left-side" #cardParent>
    <app-card-demo
      transformOrigin="center"
      [disabledEvent]="true"
      [card]="cardType"
      [iframeScale]="iframeScale"
      [selected]="0"
    ></app-card-demo>
  </div>

  <div class="button-container">
    <button class="btnNext" (click)="handleClick()">Go Live!</button>
    <button class="btnGreen" routerLink="/card-create/card-style">
      Not Yet
    </button>
  </div>

  <!--
    <div class="preview-card_right-side">
      <div class="blurred-container">
        <div class="fizz-logo"></div>

        <div class="pallistha-title">All in One Place</div>

        <div class="button-container">
          <button class="btnNext" (click)="handleClick()">Go Live!</button>
          <button class="btnGreen" routerLink="/card-create/card-style">Not Yet</button>
        </div>
      </div>

    </div>
--></div>
