<aside class="left-bar">
  <ul class="left-bar-options">
    <li (click)="toggleClass($event)">
      SHARE
      <ul>
        <li (click)="goQR()" *ngIf="disabledEvent === undefined">QR CODE</li>
        <li (click)="share$.emit($event)">TEXT MESSAGE</li>
        <li (click)="share$.emit($event)">EMAIL</li>
      </ul>
    </li>

    <li (click)="saveToHome($event)">
      SAVE TO <br />
      HOME-SCREEN
      <ul>
        <li>
          <div>Step 1:</div>
          Tap Menu Icon
          <div class="icon-more-custom">
            <span></span><span></span><span></span>
          </div>
        </li>
        <li>
          <div>Step 2:</div>
          <div>Tap add to</div>
          Home Screen
        </li>
      </ul>
    </li>

    <li (click)="handleDesignYoursClick()">DESIGN YOURS</li>
  </ul>
  <div class="logo"></div>
</aside>
