<div class="contacts"  #contactEl [class.selected]="selected.index != null"
     [ngClass]="[cardType, 'grid-' + contactInfo?.length]"
>
  <div *ngFor="let contact of contactInfo, let i = index"
       [class.selected]="selected.index === i"
       [ngClass]="[contact.key, 'card-info-item']">

    <div class="content-wrapper"
         (click)="selected.index = i; selectEvent.emit()" *ngIf="selected.index !== i">
      <div [ngClass]="['icon-' + contact.key, 'icon-container']"></div>
      <div class="content-title" *ngIf="cardType !== cardTypeEnum.Modern">{{contact.title}}</div>
    </div>

    <div class="content-title"
         *ngIf="cardType === cardTypeEnum.Modern && selected.index !== i "> {{contact.title}}</div>

    <div class="content-wrapper" [class.selected]="selected.index === i" *ngIf="selected.index === i">
      <div [ngClass]="['icon-' + contact.key, 'selected', 'icon-container']"></div>
      <div class="content-title">
        {{contact?.headerText}}
        <div class="info">{{contact.value}}</div>
      </div>
      <a [href]="contact.hrefType + contact.value" target="_blank">
        <button class="btn-event">
          {{contact.btnText}}
        </button>
      </a>
    </div>
  </div>
</div>
