:host {
  .avatar {
    display: flex;
    align-items: center;
    clip-path: circle(50% at 50% 50%);
    backdrop-filter: blur(29px);
    &.removeFilter {
      backdrop-filter: unset;
    }
    canvas {
      max-width: 100%;
    }
  }
}
