<div class="choose-image main-container mobile">
  <div class="lineBlock"></div>
  <app-logo></app-logo>

  <div class="choose-image_container inner-container web">
    <div class="fizz-logo desktopView"></div>

    <div class="image-container">
      <input
        #input
        (change)="handleImageSelect($event)"
        accept="image/*"
        class="d-none"
        type="file"
      />
      <div
        class="avatar"
        *ngIf="selectedFileStyle"
        [class.removeFilter]="input.value"
      >
        <canvas width="100%" height="auto" #canvasElement></canvas>
      </div>
      <i *ngIf="selectedFileStyle; else notSelected" (click)="input.click()" class="icon-plus"></i>
      <ng-template #notSelected>
        <i (click)="input.click()" class="icon-user-circle">
          <i class="icon-plus"></i>
        </i>
      </ng-template>

    </div>
    <div>
      <div class="page_container_title">Choose Your Image</div>
      <div class="page_container_text">
        Choose an Image that reflects your identity!
      </div>
    </div>
    <div class="slider-icons">
      <div class="error-message" *ngIf="!selectedFileStyle && isErrorVisible">
        Upload image to continue.
      </div>
      <div class="slider-icon active"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
    </div>

    <div class="navigation_buttons_container">
      <div class="btn-container">
        <button class="btnBack" routerLink="/">
          <i class="icon-arrow-left"></i>
          <span>Back</span>
        </button>

        <button
          class="btnNext"
          [ngClass]="selectedFileStyle ? 'active' : 'disabled'"
          (click)="handleClick()"
        >
          Next
        </button>
      </div>
    </div>
  </div>

  <div class="notification-container" *ngIf="isNoteVisible">
    <div class="notification-text">{{ notificationText }}</div>
    <button
      class="notification-button"
      (click)="isNoteVisible = !isNoteVisible"
    >
      OK
    </button>
  </div>
</div>
