<div class="card-container" [class.selected]="selected">
  <div class="click-area"></div>
  <iframe
    [width]="width"
    [height]="height"
    scrolling="no"
    [class.disabledEvent]="disabledEvent"
    [style.transform]="iframeScale ? 'scale(' + iframeScale + ')' : null"
    #iframe
    [src]="url"
    (load)="handleLoadEnd($event)"
    [class.selected]="selected"
    [style.transformOrigin]="transformOrigin"
    [class]="iframeClass"
  >
  </iframe>
</div>
