<!--Card style for desktop -->

<div *ngIf="!isMobile" class="card-style main-container desktop">
  <div class="card-style_container">
    <div class="card-component-container_header">
      <div class="fizz-logo"></div>
      <div>
        <div class="page_container_title">Add Your Own Style</div>
        <div class="page_container_text">
          Choose your favorite template to display your information!
        </div>
      </div>
    </div>
    <div class="card-style_types desktop">
      <div class="cards-container">
        <div
          #cardContainer
          *ngFor="let card of demoCards; let index = index"
          class="card-container"
          (click)="chooseCardStyle(cards[index])"
        >
          <div class="iframe-container">
            <app-card-demo
              [card]="card"
              [disabledEvent]="true"
              [iframeScale]="iframeScale"
              [selected]="this.selectedCardIndex === index"
              iframeClass="cardStyle-iframe"
            >
            </app-card-demo>
          </div>
          <div class="card-container_name">
            {{ card | letterSpace | uppercase }}
          </div>

          <button class="btnNext">Choose</button>
        </div>
      </div>
    </div>

    <div class="card-style_container_bottom">
      <button
        class="backNavigation"
        routerLink="/card-create/social-info"
        style="z-index: 1"
      >
        <i class="icon-arrow-left"></i>
        <span> Back</span>
      </button>

      <div class="slider-icons">
        <div class="slider-icon"></div>
        <div class="slider-icon"></div>
        <div class="slider-icon"></div>
        <div class="slider-icon"></div>
        <div class="slider-icon"></div>
        <div class="slider-icon active"></div>
      </div>
    </div>
  </div>
</div>

<!--Card style for mobile -->

<div
  #cardsStyleContainerRef
  *ngIf="isMobile"
  class="main-container card-style mobile"
>
  <div class="mobile_text-top">
    <div class="page_container_title">Add Your Own Style</div>
    <div class="page_container_text">
      Choose your favorite template to display your information!
    </div>
  </div>
  <div class="card-carousel">
    <div class="cards">
      <div class="left-side"></div>
      <div
        (click)="selectWithIndex(index)"
        [ngClass]="{
          selected: selectedCardIndex === index,
          middle: !first && !last
        }"
        *ngFor="
          let card of demoCards;
          let index = index;
          let first = first;
          let last = last
        "
        class="card-container parent-card-container"
      >
        <div
          [ngClass]="{
            left: index < selectedCardIndex,
            right: index > selectedCardIndex
          }"
          class="iframe-container"
        >
          <app-card-demo
            [style.width.px]="477 * iframeScale"
            [card]="card"
            [disabledEvent]="true"
            [iframeScale]="iframeScale"
            [selected]="selectedCardIndex === index"
            height="1000"
            iframeClass="cardStyle-iframe"
            transformOrigin="top left"
          >
          </app-card-demo>
        </div>
      </div>
      <div class="right-side"></div>
    </div>
    <div class="card-name">
      {{ cards[selectedCardIndex] | letterSpace | uppercase }}
    </div>
  </div>
  <div class="btn-container">
    <button class="btnBack" routerLink="/card-create/social-info">
      <i class="icon-arrow-left"></i>
      <span>Back</span>
    </button>
    <button (click)="chooseCardStyle(cards[selectedCardIndex])" class="btnNext">
      Choose
    </button>
  </div>
</div>
