:host {
  app-card-demo {
    height: 308px;
    width: 143px;
  }
}

.card-style {
  padding: 40px 0 0 0;
  &.desktop {
    .cards-container {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      height: 100%;
      width: 100%;

      &_name {
        margin-top: 0;
      }

      .iframe-container {
        flex: 1;
        max-height: 83%;
        overflow: hidden;
        height: 0;
        transform-origin: top;
      }

      app-card-demo {
        display: block;
        width: unset;
        height: 100%;
        overflow: hidden;
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;
      //justify-content: space-between;

      & > .card-container_name {
        margin-top: 0;
        margin-bottom: 13.5px;
      }
    }

    .card-style_container {
      .card-style_types {
        flex: 1;
        margin: 90px 0 0 0;
        @media screen and (min-width: 1023px) {
          overflow: hidden;
        }
      }
    }
  }

  &.mobile {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .fizz-logo {
      width: 59px;
      height: 50px;
      margin: 0 auto;
    }

    .page_container {
      &_title {
        margin: 20px 0 2.5px 0;
        line-height: 1;
      }
      &_text {
        font-size: 16px !important;
        line-height: 1.25;
        margin: 0 auto;
        max-width: 283px;
      }
    }

    .card-carousel {
      flex: 1;
      text-align: center;
      font-size: 19px;
      font-family: ProximaNova, serif;
      font-weight: 300;
      letter-spacing: 0.38px;
      color: #f0edf7;
      display: flex;
      margin-top: 34px;
      flex-direction: column;
      align-self: baseline;
      width: 100%;

      .cards {
        display: flex;
        flex: 1;
        height: 0;
        overflow: hidden;
        position: relative;

        .card-container {
          text-align: center;
          position: absolute;
          pointer-events: none;
          left: 50%;
          transform: translateX(-50%);
          height: auto;
          z-index: 97;
          top: 0;

          & > div {
            pointer-events: all;
          }

          &.middle {
            z-index: 98;
          }

          &.selected {
            pointer-events: none;
            z-index: 99;

            .iframe-container,
            .iframe-container.left,
            .iframe-container.right {
              transform-origin: center 0;
              transform: scale(0.9) translateZ(0);
            }
          }
        }

        .iframe-container {
          transform-origin: center 0;
          transition: all 0.2s linear;
          will-change: transform;
          position: relative;
          z-index: 3;
          transform: scale(0.9) translateZ(0);

          &.left {
            transform: scale(0.36) translateX(-200%) translateY(70%);
            z-index: 2;
          }

          &.right {
            transform: scale(0.36) translateX(200%) translateY(70%);
            z-index: 2;
          }

          app-card-demo {
            display: block;
            height: 0;
            padding-bottom: 220%;
          }
        }
      }

      .card-name {
        font: 15px "ProximaNovaThin";
        margin-bottom: 25px;
        margin-top: 20px;
        letter-spacing: 0.3px;
        color: #f0edf7;
      }
    }

    .choose-button {
      margin: 25px 83px 46px 83px;

      button {
        min-width: 25.8vh;
        max-width: 25.8vh;
        min-height: 5.92vh;
        max-height: 5.92vh;
        font-size: 1.75vh;
        padding: 0;
      }
    }
  }
}

.card-style_types.desktop {
  .iframe-container {
    transform-origin: center;
  }

  .card-container:hover .iframe-container {
    transform: scale(1.2);
  }
}
