<div class="start-page creative_bg">
  <div class="start-page_content">
    <div class="fizz-logo"></div>

    <div class="start-page_content_title">Reinvent</div>

    <div class="start-page_content_text">
      <span>Your contact info and social networks </span>
      <span class="bolder">ALL</span>
      <span>
        in one place… so that you can seamlessly share who you are in a quick
        engaging way.</span
      >
    </div>

    <div class="start-page_content_button">
      <button class="btnNext" routerLink="/card-create">Get Started</button>
    </div>
  </div>

  <div class="carousel">
    <div class="carousel_list">
      <div
        class="carousel_item"
        *ngFor="let card of cards; let i = index"
        [attr.data-pos]="i === 0 ? '-1' : i === 1 ? '0' : '1'"
        [ngClass]="card + '-card'"
      >
        {{ card + "   " + i }}
      </div>

      <div class="carousel-handlers">
        <div>
          <i class="icon-chevron-left" (click)="handleLeftClick()"></i>
        </div>

        <div class="slider_elements">
          <div
            class="slider_element"
            *ngFor="let card of cards; let i = index"
            [class.active]="i === cardIndex"
          ></div>
        </div>

        <div>
          <i class="icon-chevron-right" (click)="handleRightClick()"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="start-page_mobile" [ngClass]="mainBg">
  <div class="fizz-logo"></div>

  <div class="sliderBlock" #cardsContainer [ngClass]="selectedType">
    <ng-container *ngFor="let card of cards; let i = index">
      <div
        class="card-frame"
        [ngClass]="card + '-card-mobile'"
        (click)="handleCardClick(card)"
      ></div>
    </ng-container>
  </div>

  <div class="start-page_mobile_text">
    <span class="bolder"
      >All Your Contact Info And Social Networks In One Place</span
    >
    <span class="subText">
      Seamlessly share who you are in a quick engaging way!</span
    >
  </div>

  <div class="start-page_mobile_button">
    <button class="btnNext" routerLink="/card-create">Get Started</button>
  </div>
</div>
