<ng-container *ngIf="isMobile; else useDesktop">
  <div class="main" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</ng-container>

<ng-template #useDesktop>
  <div class="main" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</ng-template>
