@import "font-icons/font-icons";
@import url("https://allfont.ru/allfont.css?fonts=futura-bold");
@mixin font-face(
  $font-family,
  $url,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.eot");
    src: url("#{$url}.eot?#iefix") format("embedded-opentype"),
      url("#{$url}.woff") format("woff"), url("#{$url}.ttf") format("truetype"),
      url("#{$url}.svg") format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@mixin font-faceOTF(
  $font-family,
  $url,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.otf") format("opentype");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

$fontsArray: (
  ("Pallistha", "/assets/styles/fonts/pallistha/Pallistha", 400, normal),
  ("Avenir", "/assets/styles/fonts/avenir/Avenir", 400, normal),
  (
    "AvenirMedium",
    "/assets/styles/fonts/avenirMedium/AvenirMedium",
    medium,
    normal
  ),
  ("AvenirBook", "/assets/styles/fonts/avenirBook/AvenirBook", normal, normal),
  (
    "AvenirHeavy",
    "/assets/styles/fonts/avenirHeavy/AvenirHeavy",
    normal,
    normal
  ),
  ("AvenirLight", "/assets/styles/fonts/avenirLight/AvenirLight", 300, normal),
  (
    "ProximaNova",
    "/assets/styles/fonts/proximaNova/ProximaNova-Regular",
    400,
    normal
  ),
  (
    "ProximaNovaRegular",
    "/assets/styles/fonts/proximaNova/ProximaNova-Regular",
    normal,
    normal
  ),
  (
    "ProximaNovaSemibold",
    "/assets/styles/fonts/proximaNovaSemibold/ProximaNova-Semibold",
    600,
    normal
  ),
  (
    "ProximaNovaThin",
    "/assets/styles/fonts/proximaNovaThin/ProximaNovaThin",
    300,
    normal
  ),
  (
    "ProximaNovaBold",
    "/assets/styles/fonts/proximaNovaBold/ProximaNova-Bold",
    600,
    normal
  ),
  (
    "FuturaMedium",
    "/assets/styles/fonts/futuraMedium/FuturaMedium",
    medium,
    normal
  ),
  ("Gotham", "/assets/styles/fonts/gothamBook/GothamBook", 100, normal)
);

/* This stylesheet generated by Transfonter (https://transfonter.org) on October 5, 2017 10:21 PM */

@font-face {
  font-family: "FuturaDemiC";
  src: url("/assets/styles/fonts/Futura/FuturaDemiC.eot");
  src: local("Futura Demi Cyrillic"),
    local("/assets/styles/fonts/Futura/FuturaDemiC"),
    url("/assets/styles/fonts/Futura/FuturaDemiC.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaDemiC.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("/assets/styles/fonts/Futura/FuturaMediumC.eot");
  src: local("Futura Medium Cyrillic"), local("FuturaMediumC"),
    url("/assets/styles/fonts/Futura/FuturaMediumC.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaMediumC.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FuturaLightC";
  src: url("/assets/styles/fonts/Futura/FuturaLightC-Italic.eot");
  src: local("Futura Light Italic Cyrillic"),
    local("/assets/styles/fonts/Futura/FuturaLightC-Italic"),
    url("/assets/styles/fonts/Futura/FuturaLightC-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaLightC-Italic.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaLightC-Italic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("/assets/styles/fonts/Futura/FuturaMediumC-Italic.eot");
  src: local("Futura Medium Italic Cyrillic"),
    local("/assets/styles/fonts/Futura/FuturaMediumC-Italic"),
    url("/assets/styles/fonts/Futura/FuturaMediumC-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaMediumC-Italic.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaMediumC-Italic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FuturaLightC";
  src: url("/assets/styles/fonts/Futura/FuturaLightC.eot");
  src: local("Futura Light Cyrillic"), local("FuturaLightC"),
    url("/assets/styles/fonts/Futura/FuturaLightC.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaLightC.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaLightC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("/assets/styles/fonts/Futura/FuturaDemiC-Italic.eot");
  src: local("Futura Demi Italic Cyrillic"),
    local("/assets/styles/fonts/Futura/FuturaDemiC-Italic"),
    url("/assets/styles/fonts/Futura/FuturaDemiC-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaDemiC-Italic.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaDemiC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FuturaDemiC";
  src: url("/assets/styles/fonts/Futura/FuturaDemiC.eot");
  src: local("Futura Demi Italic Cyrillic"),
    local("/assets/styles/fonts/Futura/FuturaDemiC"),
    url("/assets/styles/fonts/Futura/FuturaDemiC.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaDemiC.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("/assets/styles/fonts/Futura/FuturaBookC-Italic.eot");
  src: local("Futura Book Italic Cyrillic"),
    local("/assets/styles/fonts/Futura/FuturaBookC-Italic"),
    url("/assets/styles/fonts/Futura/FuturaBookC-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaBookC-Italic.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaBookC-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("/assets/styles/fonts/Futura/FuturaBookC.eot");
  src: local("Futura Book Cyrillic"), local("FuturaBookC"),
    url("/assets/styles/fonts/Futura/FuturaBookC.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/styles/fonts/Futura/FuturaBookC.woff") format("woff"),
    url("/assets/styles/fonts/Futura/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Bold";
  src: url("/assets/styles/fonts/Futura/futura-bold.eot"); /* IE9 Compat Modes */
  src: url("/assets/styles/fonts/Futura/futura-bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/styles/fonts/Futura/futura-bold.otf")
      format("opentype"),
    /* Open Type Font */ url("/assets/styles/fonts/Futura/futura-bold.svg")
      format("svg"),
    /* Legacy iOS */ url("/assets/styles/fonts/Futura/futura-bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/styles/fonts/Futura/futura-bold.woff") format("woff"),
    /* Modern Browsers */ url("/assets/styles/fonts/Futura/futura-bold.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

$otfFontsArray: (
  ("Gotham", "/assets/styles/fonts/gothamBook/GothamBook", 400, normal)
);

@each $fontFamily, $url, $font-weight, $font-style in $fontsArray {
  @include font-face($fontFamily, $url, $font-weight, $font-style);
}

@each $otfFontsArray, $url, $font-weight, $font-style in $fontsArray {
  @include font-faceOTF($otfFontsArray, $url, $font-weight, $font-style);
}

@font-face {
  font-family: "Athelas Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Athelas Regular"),
    url("/assets/styles/fonts/Athelas/Athelas-Regular.woff") format("woff");
}

@font-face {
  font-family: "Athelas Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Athelas Italic"),
    url("/assets/styles/fonts/Athelas/Athelas-Italic.woff") format("woff");
}

@font-face {
  font-family: "Athelas Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Athelas Bold"),
    url("/assets/styles/fonts/Athelas/Athelas-Bold.woff") format("woff");
}

@font-face {
  font-family: "Athelas Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Athelas Bold Italic"),
    url("/assets/styles/fonts/Athelas/Athelas-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "AvenirBlack";
  font-style: normal;
  font-weight: 900;
  src: local("AvenirBlack"),
    url("/assets/styles/fonts/avenir/AvenirBlack.ttf") format("truetype");
}

@font-face {
  font-family: "gothamBold";
  src: url("/assets/styles/fonts/gothamBold/gothambold1.eot");
  src: local("gothambold1"),
    url("/assets/styles/fonts/gothamBold/gothambold1.woff") format("woff"),
    url("/assets/styles/fonts/gothamBold/gothambold1.ttf") format("truetype");
}
