.cardView {
  --burgerMenuColor: #000;
  --burgerMenuBeforeTransform: translateY(6px);
  --burgerMenuAfterTransform: translateY(18px);
  --burgerMenuDivTransform: translateY(12px);
  --burgerMenuTransform: translateX(14px);
  --burgerMenuBorderColor: transparent;
  --cardMenuWidth: 0;
  --menuItemSubTransform: translateX(-200px) scale(1);
  --cardBgColor: #f2f3f7;
  --cardBgBlockTransform: scale(1);
  --cardBgBlockBorderRadius: 0;
  --cardInfoDeskDisplay: block;
  --cardInfoDeskColor: inherit; /*#586574;*/
  --fizz-logoTransform: 0;
  --cardSocialBlockPadding: 0 40px;
  --cardContactsPadding: 0 40px;
  --cardSocialBlockTransform: scale(1);
  --cardContactsTransform: scale(1);
  --cardTileMinHeight: 100px;
  --tileSelectedColor: #262626;
  --actionBtnBg: #3feadd;
  --actionBtnShadow: 0 3px 6px #0dbaad5d;
  --cardBgBlockContentWidth: 100%;
  --cardBgBlockContentHeight: 0;
  --cardBgBlockContentMargin: 0;
  --cardBgBlockPaddingBottom: 30vh;

  --cardBgBlockBorder: none;
  --tileMargin: 4px;
  --cardInfoNameTextTransform: uppercase;
  --textShadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
  --infoNameTextOverflow: unset;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;

  &.minimalist {
    --cardBgColor: linear-gradient(1deg, #ffffff 0%, #f2f3f7 100%);
    --cardInfoMarginTop: 18px;
    --cardInfoTextAlign: center;
    --cardInfoColor: #000000;
    --cardInfoNameFont: normal normal 900 23px/25px AvenirBlack;
    --cardInfoDeskFontSize: 18px;
    --cardInfoDeskLineHeight: 25px;
    --tileColor: black;
    --tileBg: white;
    --tileShadow: 0 9px 10px #ebeffcbf;
    --iconColor: black;
    --textShadow: none;
    --cardInfoDeskColor: #586574;
    --cardBgBlockContentHeight: calc(100% - 78px);
    --cardBgBlockContentMargin: 0;
    --cardBgBlockPaddingBottom: 0;
    --cardContactsPadding: 0 31px;
    &.menu {
      --cardBgBlockPaddingBottom: 25vh;
      --cardContactsPadding: 0 18px;
      --cardBgBlockContentHeight: 0;
      .card_bgBlock {
        flex: none;
      }
      .card_contacts {
        margin-top: -30px;
        margin-bottom: 0;
        @media screen and (max-width: 400px) {
          margin-top: -20px;
          margin-bottom: 0;
          width: 80%;
        }
      }
      .tile {
        @media screen and (max-width: 400px) {
          --cardTileMinHeight: 62px;
          padding: 4px;
          .tile_icon {
            width: 24px !important;
            height: 24px !important;
            margin: 3px auto 6px;
          }
          .tile_name_small {
            font: normal normal normal 14px/24px FuturaDemiC;
          }
        }
      }

      .card_contacts .tile_icon {
        width: 32px;
        height: 32px;
      }
      .tile_name_small {
        font: normal normal normal 20px/24px FuturaDemiC;
      }
      .cardView.minimalist .card_social {
        margin-top: -10px;
      }
      .card_social {
        margin-top: auto;
        @media screen and (max-width: 400px) {
          margin-top: auto;
          height: 39px;
        }
      }
    }
    .card_social {
      margin-top: 0;
    }
    &:not(.menu) .selected .card_contacts .tile.active .tile_name_big {
      margin-bottom: 0;
      font: normal normal 500 20px/27px FuturaMediumC;
    }

    &:not(.menu) .selected .card_contacts .tile.active .tile_content {
      font: normal normal normal 20px/27px Futura-Bold;
    }

    @media screen and (max-width: 400px) {
      .card_social_block a {
        width: 37px;
        height: 37px;
        margin: 0 8px;
      }

      &:not(.menu) {
        --tileMargin: 2px;
        --cardTileMinHeight: 75px;

        .selected .card_contacts {
          max-width: 100%;
          --cardInfoNameFont: normal normal normal 20px/22px AvenirBlack;
          --cardInfoDeskFontSize: 14px;
          --cardInfoDeskLineHeight: 16px;
          .tile.active .tile_name_big {
            margin-bottom: 0;
            font: normal normal 500 14px/18px Futura-Bold;
          }
          .tile.active .tile_content {
            font: normal normal normal 16px/18px Futura-Bold;
          }
        }

        .card_contacts {
          max-width: 338px;
          .tile {
            --cardTileMinHeight: 74px;
            &_icon {
              margin: 8px auto 5px;
            }
          }
        }

        .card_social {
          --cardSocialBlockPadding: 0 40px;
          margin-top: 8px;
          margin-bottom: 15px !important;
          height: auto;
        }
      }
    }
    .selected {
      .card_bgBlock .card_info {
        display: none;
      }
    }
    .linkBlock {
      display: flex;

      > a {
        flex: 1;
        margin: 0 4px;

        &.message {
          background-color: #242336;
          box-shadow: 0 3px 6px #24233659;
        }
      }
    }
    .tile {
      --cardTileMinHeight: 100px;
      @media screen and (min-width: 399px) {
        .tile_icon {
          width: 36px;
          height: 36px;
        }
      }
      &.active {
        .tile_icon {
          margin: 22px auto 2px !important;
        }
        .linkBlock {
          margin-bottom: 20px;
        }
      }
    }
    .tile_name_small {
      font: normal normal normal 14px/16px FuturaDemiC;
    }
  }

  &.creative {
    &:not(.menu) .selected .card_contacts {
      margin-top: -150px;
    }
    &:not(.menu) {
      --cardContactsPadding: 0 31px !important;
      @media screen and (min-width: 399px) {
        .card_contacts {
          margin: auto auto 40px;
        }
      }

      .selected {
        .card_contacts {
          --cardContactsPadding: 0 15px;
          @media screen and (min-width: 399px) {
            --cardContactsPadding: 0 40px;

            .active .linkBlock {
              margin-bottom: 20px;
            }
          }
        }
      }
      @media screen and (max-width: 400px) {
        --cardContactsPadding: 0 58px !important;
        --cardTileMinHeight: 74px;
        .card_contacts {
          .tile {
            padding: 8px;
            .tile_icon {
              width: 25px;
              height: 25px;
              margin: 10px auto 3px;
            }
          }
        }
        .card_social {
          margin-bottom: 0;
        }
      }
    }
    menu {
      box-shadow: 5px 0 15px #ebeffc59;
      z-index: 9;
    }
    &.menu {
      .card_contacts {
        @media screen and (max-width: 400px) {
          margin-top: -20px;
          margin-bottom: 0;
          width: 80%;
        }
      }
      .tile {
        @media screen and (max-width: 400px) {
          --cardTileMinHeight: 62px;
          padding: 4px;
          .tile_icon {
            width: 24px;
            height: 24px;
            margin: 3px auto 6px;
          }
          .tile_name_small {
            font: normal normal normal 14px/24px FuturaDemiC;
          }
        }
      }
    }
    --cardInfoMarginTop: -120px;
    --cardInfoColor: #d9d8c6;
    --cardBgColor: #020022;
    --tileColor: #d9d8c6;
    --tileBg: #0c1440;
    --tileShadow: none;
    --iconColor: #d9d8c6;
    --cardInfoNameFont: normal normal normal 62px/48px "Athelas Regular";
    --tileSelectedColor: #d9d8c6;
    --actionBtnBg: #ea533f;
    --actionBtnShadow: 0px 3px 6px #ea533f5d;
    --cardBgBlockPaddingBottom: 0;
    --cardBgBlockContentHeight: calc(100% - 58px);
    --cardInfoNameTextTransform: none;
    --textShadow: none;

    .phone .linkBlock {
      a {
        background-color: #ffffff !important;
        color: black;
        box-shadow: 0 3px 6px 0 #ffffff5c;
        &.message {
          box-shadow: 0 3px 6px 0 #ea533f80;
          background-color: #ea533f !important;
          color: white;
        }
      }
    }

    .linkBlock {
      display: flex;

      > a {
        flex: 1;
        margin: 0 4px;

        &.message {
          background-color: #ea533f !important;
        }
      }
    }

    .card_info_desk {
      position: relative;
      margin-top: 20px;
      @media screen and (min-width: 399px) {
        margin-bottom: 20px;
        margin-top: 10px;
      }
    }

    .card_info_name {
      overflow: visible;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .tile .card_info_name {
      align-items: center;
      line-height: 32px;
      margin-top: 14px;
    }

    .tile .card_info_desk {
    }

    .card_info {
      padding: 0 30px;
    }

    .card_info_desk_title {
      font: normal normal normal 19px/20px ProximaNovaRegular;
      letter-spacing: 2.85px;
      color: #ffffff;
      text-transform: uppercase;
      display: block;
      width: 100%;
      position: relative;

      > span {
        position: relative;
        display: inline-block;
        padding-right: 30px;
        background-color: #020022;
        z-index: 99;
      }

      &:after {
        content: "";
        height: 1px;
        width: -webkit-fill-available;
        background-color: #d9d8c6;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 9;
      }
    }

    .card_info_name {
      overflow: visible;
    }

    .card_contacts .tile_content {
      font: normal normal 500 20px/27px FuturaMediumC;
      color: #ffffff;
      @media screen and (max-width: 400px) {
        font: normal normal 500 15px/19px FuturaMediumC;
      }
    }

    .card_contacts .tile_name_big {
      margin-bottom: 0;

      font: normal normal 500 20px/27px FuturaMediumC;
      letter-spacing: 0;
      color: #d9d8c6;
      @media screen and (max-width: 400px) {
        font: normal normal 500 14px/18px FuturaMediumC;
      }
    }

    .selected .card_contacts .tile.active .card_info {
      .card_info_desk_title {
        font: normal normal normal 17px/20px ProximaNovaRegular;
        letter-spacing: 1.85px;

        > span {
          position: relative;
          display: inline-block;
          padding-right: 40px;
          background-color: #020022;
          z-index: 99;
        }

        &:after {
          content: "";
          display: none;
        }
        @media screen and (max-width: 400px) {
          font: normal normal normal 14px/16px ProximaNovaRegular;
        }
      }

      .card_info_desk_company {
        font: normal normal normal 13px/16px ProximaNovaRegular;
        @media screen and (max-width: 400px) {
          font: normal normal normal 10px/12px ProximaNovaRegular;
        }
      }
    }

    .line {
      display: none;
    }

    .card_info_desk_company {
      font: normal normal normal 15px/16px ProximaNovaRegular;
      letter-spacing: 2px;
      color: #d9d8c6;
      opacity: 1;
      text-transform: uppercase;
    }

    .selected {
      .card_info {
        margin-top: 0;
      }

      --tileMargin: 2px;

      --cardInfoNameFont: normal normal normal 32px/26px "Athelas Regular";

      .card_bgBlock .card_info {
        display: none;
      }
      @media screen and (max-width: 400px) {
        --cardInfoNameFont: normal normal normal 26px/26px "Athelas Regular";
      }
    }

    .card_contacts .tile_icon {
      width: 40px;
      height: 32px;
      filter: drop-shadow(0px 3px 15px #d9d8c659);
      /*filter: drop-shadow(0px -3px 15px #d9d8c659)
        drop-shadow(0px 3px 15px #d9d8c659);*/
    }

    .card_bgBlock_content {
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-image: linear-gradient(
          180deg,
          transparent 0%,
          var(--cardBgColor) 100%
        );
      }
    }

    @media screen and (max-width: 400px) {
      &:not(.menu):not(.selected) .card_info_name {
        flex-direction: row;

        > span {
          margin-right: 4px;
        }
      }
      .selected .card_info_name {
        flex-direction: column !important;
      }
      .card_info_desk {
        margin-top: 5px;
      }
      .card_contacts .tile {
        min-width: 48%;
      }
      --cardInfoNameFont: normal normal normal 32px/32px "Athelas Regular";
      --cardInfoMarginTop: -40px;
      --tileMargin: 2px;
      @at-root .cardView:not(.menu) {
        .card_social {
          max-width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .card_social_block a {
        width: 37px;
        height: 37px;
        margin: 0 8px;
      }
      .card_contacts {
      }
    }

    .tile_name_small {
      font: normal normal 500 14px/19px FuturaMediumC;
      letter-spacing: 1px;
    }
  }

  &.modern {
    --cardBgColor: url("/assets/images/cards-backgrounds/modern-card-main_bg@2x.png");

    --cardBgBlockContentWidth: var(--cardBgBlockContentWidthJs);
    --cardBgBlockContentHeight: var(--cardBgBlockContentHeightJs);
    --cardBgBlockPaddingBottom: 0;
    --cardBgBlockContentMargin: 42px auto 13px;
    --cardBgBlockBorderRadius: 100%;
    --cardBgBlockBorder: 4px solid #ffffff;
    --tileMargin: -5px;
    --textShadow: none;

    header .fizz-logo {
      width: 75px;
      top: 0;
    }
    .cards-1 {
      //transform: scale(1) !important;
      transform-origin: center center !important;
      transform: translateY(25px);
    }
    &:not(.menu) .selected {
      .bg-1 {
        flex: none;
        &.no-social {
          .card_bgBlock_content {
            --cardBgBlockContentWidthBefore: 150px;
            --cardBgBlockContentHeightJs: 150px;
            --cardBgBlockContentWidthJs: 150px;
            width: 150px;
            height: 150px;
            @media screen and (max-width: 400px) {
              --cardBgBlockContentWidthBefore: 140px;
              --cardBgBlockContentHeightJs: 140px;
              --cardBgBlockContentWidthJs: 140px;
              width: 140px;
              height: 140px;
            }
          }
        }
        .card_bgBlock_content {
          --cardBgBlockContentWidthBefore: 120px;
          --cardBgBlockContentHeightJs: 120px;
          --cardBgBlockContentWidthJs: 120px;
          width: 120px;
          height: 120px;
          @media screen and (max-width: 400px) {
            --cardBgBlockContentWidthBefore: 105px;
            --cardBgBlockContentHeightJs: 105px;
            --cardBgBlockContentWidthJs: 105px;
            width: 105px;
            height: 105px;
          }
        }
      }

      .card_bgBlock:not(.bg-1) {
        --cardBgBlockContentWidth: 100px;
        --cardBgBlockContentHeight: 100px;
        --cardBgBlockPaddingBottom: 0;
        --cardBgBlockContentMargin: 16px auto 13px;
        --cardBgBlockBorderRadius: 188px;
        --cardBgBlockBorder: 4px solid #ffffff;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 50px;
        padding-left: 40px;
        margin-bottom: 80px;
        @media screen and (max-width: 400px) {
          margin-top: 24px;
          padding-left: 75px;
          margin-bottom: 65px;
        }
        .card_bgBlock_content {
          flex: none;
          margin-top: 24px;
          margin-bottom: 10px;
          --cardBgBlockContentWidth: 82px;
          --cardBgBlockContentHeight: 82px;
          @media screen and (max-width: 400px) {
            --cardBgBlockContentWidth: 70px;
            --cardBgBlockContentHeight: 70px;
          }
          &:before {
            width: calc(var(--cardBgBlockContentWidth) + 12px);
            height: calc(var(--cardBgBlockContentWidth) + 12px);
            left: -10px;
            top: -10px;
          }
        }

        .card_info {
          text-align: left;

          &_name {
            font-size: 26px;
            line-height: 1;
          }

          &_desk {
            font-size: 18px;
            &_title {
              font: normal normal 500 17px/25px "AvenirHeavy";
            }
            &_company {
              font-size: 14px;
            }
          }
        }

        @media screen and (max-width: 400px) {
          .card_info {
            text-align: left;

            &_name {
              font: normal normal 400 18px/22px Arial;
            }

            &_desk {
              &_title {
                font: normal normal 400 12px/14px Arial;
                height: 10px;
              }
              &_company {
                font: normal normal normal 10px/10px AvenirLight;
              }
            }
          }
        }
      }

      .card_contacts {
        max-height: 100%;
        max-width: 375px;
        margin-top: -65px;
        margin-bottom: 30px;
        &.cards-1 {
          align-items: center;

          margin-bottom: 0px;
          transform-origin: center center !important;
          //transform: scale(1) !important;
          @media screen and (max-width: 400px) {
            margin-bottom: 0;
          }
        }
        @media screen and (max-width: 400px) {
          max-width: 320px;
          margin-top: -60px;
        }

        .tile_icon {
          width: 66px;
          height: 66px;

          &.icon-address {
            &:before {
              -webkit-mask-size: 20px;
            }
          }

          &:before {
            -webkit-mask-size: 26px;
          }
        }

        .tile.active {
          &.phone {
            .tile_actionBtn {
              margin-bottom: 8px;
              background-color: #ffb936;
              color: #fff;

              &.message {
                background: #ffffff 0 0 no-repeat padding-box;
                color: #0e5edf;
              }
            }

            .tile_icon {
              margin-top: 0;
            }

            .tile_name_big {
              margin-top: -12px;
            }

            @media screen and (max-width: 400px) {
              .tile_actionBtn {
                margin: 6px auto 0;
              }
              .tile_icon {
                margin-top: -4px;
              }
              .tile_name_big {
                margin-top: 10px;
              }
            }
          }

          background: linear-gradient(163deg, #2978f7 0%, #0757d9 100%);
          box-shadow: 0 10px 30px #00000069;
          border: 2px solid #ffffff;
          min-height: 300px !important;
          min-width: 300px !important;
          flex: none;
          width: 300px !important;
          height: 300px !important;
          border-radius: 260px !important;
          max-width: 260px;
          margin: 0 auto 16px;
          --tileSelectedColor: white;
          @media screen and (max-width: 400px) {
            min-height: 225px !important;
            min-width: 225px !important;
            flex: none;
            width: 225px !important;
            height: 225px !important;
            border-radius: 225px !important;
            max-width: 225px;
            margin: 0 auto 4px;
          }

          .tile_actionBtn {
            width: 152px;
            height: 45px;
            background: #ffffff 0 0 no-repeat padding-box;
            box-shadow: 0 3px 6px #0dbaad5d;
            border-radius: 8px;
            opacity: 1;
            color: #0e5edf;
          }

          .card_info {
            display: none !important;
          }

          .tile_icon {
            background: transparent;
            border: none;
          }
        }
      }
    }

    &:not(.menu) {
      .card:not(.selected) .card_contacts {
        &.cards-2:not(.active) {
          max-width: unset;
          flex: 1;
          align-items: flex-start;
          .tile {
            justify-content: center;

            &_icon {
              width: 120px;
              height: 120px;
              @media screen and (max-width: 400px) {
                width: 100px;
                height: 100px;
              }
            }
            @media screen and (max-width: 400px) {
              flex: 1;
            }
          }
        }
        max-height: 280px;
        @media screen and (max-width: 400px) {
          max-height: 260px;
          flex: none;
        }
      }
    }

    &.menu {
      --cardBgBlockContentWidthBefore: 136px;
      --cardBgBlockContentHeightBefore: 136px;
      @media screen and (max-width: 400px) {
        .card_contacts .tile.active .tile_icon {
          margin-top: 0px;
        }
      }
      .card_contacts {
        justify-content: flex-start;
      }
      @media screen and (max-width: 400px) {
        --cardBgBlockContentWidthBefore: 110px;
        --cardBgBlockContentHeightBefore: 110px;
        --cardInfoMarginTop: -10px;
        .card_contacts {
          margin-top: 0;
          margin-bottom: 0;
          justify-content: flex-start;
          .tile {
            max-height: 75px;
          }
        }
      }
    }

    .card_contacts {
      max-width: 350px;
      flex: 1;
      @media screen and (max-width: 400px) {
        max-width: 310px;
        margin: auto auto 30px;
        .tile {
          &_icon {
            width: 70px;
            height: 70px;
          }
        }
      }
      .tile {
        transition: none;
        &_actionBtn {
          font-size: 17px;
        }
        &.active {
          @media screen and (max-width: 400px) {
            .tile_name_big {
              margin-bottom: 0;
              font: normal normal 500 14px/19px FuturaMediumC;
            }
            .tile_content {
              margin-bottom: 0;
              font: normal normal 500 15px/19px FuturaMediumC;
            }
            .tile_actionBtn {
              width: 120px !important;
              height: 40px !important;
              margin: 20px auto 10px;
              font: 15px/17px Arial;
            }
            .tile_icon {
              width: 50px;
              height: 50px;
              margin-top: 10px;
              margin-bottom: -3px;
            }
          }
        }

        .tile_name_big {
          margin-bottom: 0;
          font: normal normal 500 20px/27px FuturaMediumC;
        }

        .tile_icon {
          width: 80px;
          height: 80px;
          margin: 4px auto 6px;
          transition: transform 0.2s;
          background: transparent
            linear-gradient(163deg, #2978f7 0%, #0757d9 100%);
          border-radius: 88px;
          border: 1px solid;

          &.icon-address:before {
            -webkit-mask-size: 24px;
          }

          &:before {
            width: 100%;
            height: 100%;
            background-size: contain;
            -webkit-mask-size: 29px;
            background-color: white;
            padding: 20px;
            background-origin: unset;
          }
        }
      }
    }

    .card_info {
      text-align: center;

      &_name {
        font: normal normal 500 35px/38px AvenirMedium;
        letter-spacing: 0.88px;
        color: #ffffff;
        opacity: 1;
        margin-top: 24px;
      }

      &_desk {
        font-size: 20px;

        &_title {
          margin-top: 4px;
          font: normal normal 900 20px/24px Avenir;
          letter-spacing: 0.5px;
          color: #ffffff;
          opacity: 1;
          display: block;
          text-transform: uppercase;
        }

        .line {
          display: none;
        }

        &_company {
          font: normal normal normal 16px/20px AvenirLight;
          letter-spacing: 2.4px;
          color: #ffffff;
          opacity: 1;
          text-transform: uppercase;
        }
      }
    }

    .card_bgBlock_content {
      &:before {
        content: "";
        position: absolute;
        width: calc(var(--cardBgBlockContentWidthBefore) + 24px);
        height: calc(var(--cardBgBlockContentWidthBefore) + 24px);
        border-radius: 100%;
        border: 1px solid #ffffff;
        left: -16px;
        top: -16px;
      }
    }

    .card_social {
      position: relative;
      @media screen and (max-width: 400px) {
        @at-root .cardView:not(.menu) {
          .card_social {
            margin-left: auto;
            margin-right: auto;
          }
        }
        height: 58px;
        max-width: 300px;

        .card_social_block a {
          width: 38px;
          height: 38px;
          margin: 0 8px;
        }
      }
      &:after {
        content: "";
        flex: none;
        display: block;
        width: 55px;
        height: 51px;
        position: absolute;
        margin: 0 10px;
        border-radius: 0 55px 55px 0;
      }
    }

    .card_social_block {
      border-radius: 55px;
      background: #ffffff40 0 0 no-repeat padding-box;

      &:after {
        content: "";
        flex: none;
        display: block;
        width: 1px;
        height: 51px;

        margin: 0 10px;
      }

      &.no-scroll:after {
        content: none;
      }
    }

    @media screen and(max-width: 400px) {
      --cardBgBlockContentWidth: var(--cardBgBlockContentWidthJs);
      --cardBgBlockContentHeight: var(--cardBgBlockContentHeightJs);
      --cardInfoMarginTop: 10px;
      .card_bgBlock_content {
        margin-top: 43px;
        margin-bottom: 10px;

        &:before {
          width: calc(var(--cardBgBlockContentWidthBefore) + 12px);
          height: calc(var(--cardBgBlockContentWidthBefore) + 12px);
          left: -10px;
          top: -10px;
        }
      }
      .card_info_name {
        font: normal normal 500 22px/22px AvenirMedium;
      }
      .card_info_desk_title {
        font: normal normal 500 16px/25px AvenirMedium;
        height: 20px;
      }
      .card_info_desk_company {
        font: normal normal normal 13px/20px AvenirLight;
      }
    }

    .tile_name_small {
      font: normal normal 500 14px/19px FuturaMediumC;
      letter-spacing: 1px;
    }
  }

  @media only screen and (orientation: landscape) {
    background-color: var(--cardBgColor);
    overflow: hidden;
    .rotateBlock {
      display: block !important;
      width: 100%;
      background-image: url("/assets/images/template-img/rotate-your-device.png");
      background-size: contain;
      background-position: center;
      padding: 40px 60px;
      background-origin: content-box;
      transform: rotate(0);
      animation: rotateAnimation 3s ease-in-out forwards infinite;
    }

    > header,
    menu,
    main {
      display: none !important;
    }
  }
  @keyframes rotateAnimation {
    0%,
    100% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(90deg);
    }
  }

  &.menu {
    &.minimalist {
      --cardInfoMarginTop: 16px;
      --cardBgBlockTransform: scale(0.75);
    }

    &.creative {
      --cardInfoMarginTop: 10px;
      --cardInfoNameFont: normal normal normal 32px/26px "Athelas Regular";
      --cardBgBlockBorderRadius: 0;
      --cardBgBlockPaddingBottom: 20vh;
      --cardBgBlockContentHeight: 0;
      .card_bgBlock {
        flex: none;
      }
      .card_info_name {
        text-align: center;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }
      .card_social {
        margin-top: auto;
      }
      .cardView.creative .card_contacts .tile_icon {
        width: 27px;
        height: 27px;
        margin: 10px auto 8px;
      }
      @media screen and (max-width: 400px) {
        .card_bgBlock {
          flex: none;
        }
        --cardBgBlockPaddingBottom: 20vh;

        .card_social {
          margin-bottom: 0;
          margin-top: auto;
          --cardSocialBlockTransform: none;
        }
        .card_contacts {
          margin-top: 10px;
          --cardTileMinHeight: 62px;
          --tileMargin: 4px;
          .tile_icon {
            width: 18px;
            height: 18px;
            margin: 4px auto 6px;
          }
        }
      }
    }

    &.modern {
      --cardBgBlockContentWidth: 136px;
      --cardBgBlockContentHeight: 136px;
      --cardBgBlockPaddingBottom: 0;
      --cardBgBlockContentMargin: 40px auto 13px;
      --cardBgBlockBorderRadius: 188px;
      --cardBgBlockBorder: 4px solid #ffffff;

      @media screen and (max-width: 400px) {
        .card_bgBlock_content {
          margin-top: 20px;
          margin-bottom: 10px;

          &:before {
            width: calc(var(--cardBgBlockContentWidthBefore) + 12px);
            height: calc(var(--cardBgBlockContentWidthBefore) + 12px);
            left: -10px;
            top: -10px;
          }
        }
        --cardBgBlockContentWidth: 110px;
        --cardBgBlockContentHeight: 110px;
      }
      .card_bgBlock {
        flex: none;
      }
      .card_contacts {
        flex-direction: column;
        transform: none !important;

        .tile {
          flex-direction: row;
          align-items: center;
          max-height: 80px;
          .tile_name_small {
            font: normal normal 500 18px/19px FuturaMediumC;
          }
          &_icon {
            width: 50px;
            height: 50px;
            margin: 0 14px 0 0;

            &.icon-address:before {
              -webkit-mask-size: 16px;
            }

            &:before {
              -webkit-mask-size: 16px;
            }
          }
        }
      }

      .card_info_name {
        font-size: 23px;
        line-height: 1;
        @media screen and (max-width: 400px) {
          font: normal normal 500 18px/22px AvenirMedium;
        }
      }
    }
    --infoNameTextOverflow: ellipsis;
    --cardMenuWidth: 200px;
    --burgerMenuBeforeTransform: translateY(12px) rotateZ(45deg);
    --burgerMenuAfterTransform: translateY(12px) rotateZ(-45deg);
    --burgerMenuDivTransform: translateY(9px) scale(0);
    --burgerMenuTransform: translateX(120px);
    --burgerMenuBorderColor: #4d4d4d;
    --menuItemSubTransform: translateX(0px) scale(1, 1);
    --cardBgBlockBorderRadius: 8px;
    --cardInfoDeskDisplay: none;
    --fizz-logoTransform: translateX(80px) translateY(20px);
    --cardSocialBlockPadding: 0 8px;
    --cardSocialBlockTransform: scale(0.8);
    --cardContactsTransform: scale(1);
    --cardContactsPadding: 0 10px;
    --cardTileMinHeight: 70px;
    --cardBgBlockPaddingBottom: 18vh;
    --burgerMenuColor: #000;

    .menuItem {
      li:nth-child(1) {
        transition: 0.4s 0.2s;
      }

      li:nth-child(2) {
        transition: 0.4s 0.25s;
      }

      li:nth-child(3) {
        transition: 0.4s 0.3s;
      }
    }

    .card_contacts {
      margin-top: 30px;
    }
  }

  &:not(.menu) {
    &.modern {
    }

    .selected .card_contacts {
      margin-top: -200px;
      .tile {
        min-width: 30%;
        min-height: 70px;

        &_icon {
          height: 24px;
          margin: 6px auto;
        }

        &:only-child,
        &.active {
          flex-basis: 100%;
          border-radius: 14px;
          order: 1;

          .card_info {
            display: block;

            transform: scale(1);
            margin-bottom: 10px;
          }

          .tile_icon {
            display: block;

            &.icon-address {
              transform: scale(1.5);
            }

            transform: scale(1.2);
          }

          .tile_name_big {
            display: block;
            margin-top: 10px;
            transform: scale(1);
          }

          .tile_name_small {
            transform: scale(0);
            display: none;
          }

          .tile_content {
            display: block;

            transform: scale(1);
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .tile_actionBtn {
            display: flex;
            transform: scale(1);
          }
        }
      }
    }
  }

  header {
    position: absolute;
    left: 0;
    top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .burgerMenu {
      transition: all 0.4s 0.1s;
      transform: var(--burgerMenuTransform);

      padding: 10px 12px;
      border: 1px solid var(--burgerMenuBorderColor);
      border-radius: 11px;
      width: 52px;
      height: 48px;
      z-index: 666;
      position: relative;
      background-color: #ffffff12;

      &:before,
      &:after {
        content: "";
        height: 2px;
        width: calc(100% - 24px);
        border-radius: 2px;
        position: absolute;
        transition: transform 0.4s;
        background-color: var(--burgerMenuColor);
      }

      &:before {
        transform: var(--burgerMenuBeforeTransform);
      }

      &:after {
        transform: var(--burgerMenuAfterTransform);
      }

      div {
        position: absolute;
        height: 2px;
        width: calc(100% - 24px);
        border-radius: 2px;
        transition: transform 0.4s;
        background-color: var(--burgerMenuColor);
        transform: var(--burgerMenuDivTransform);
      }
    }

    .fizz-logo {
      width: 90px;
      height: 30px;
      transform: var(--fizz-logoTransform);
      background-size: contain;
      position: relative;
      z-index: 999;
      transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      left: 0;
      top: 0;
    }
  }

  menu {
    width: var(--cardMenuWidth);
    max-width: 50%;
    transition: width 0.4s;
    flex: none;
    overflow: hidden;
    background-color: white;
    align-items: stretch;
    padding: 118px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 400px) {
      padding: 80px 0 0;
      .menuItem_sub {
        margin-bottom: 20px;
        font: normal normal normal 14px/20px Gotham;
      }
    }
    .menuItem {
      padding: 0 0 0 28px;
      margin: 0;

      &_sub {
        transform: var(--menuItemSubTransform);
        margin-bottom: 34px;
        list-style: none;
        text-align: left;
        font: normal normal normal 16px/22px Gotham;
        letter-spacing: 0.48px;
        color: #262626;
        text-transform: uppercase;

        &_item {
          font: normal normal normal 13px/43px Gotham;
          letter-spacing: 0;
          color: #5f5f5f;
          opacity: 1;
          list-style-type: none;
          padding-inline-start: 6px;
          display: none;

          &.active {
            display: block;
          }
        }

        &_link {
          display: none;

          &.active {
            display: block;
            margin-left: 10px;
            padding: 0;
            li {
              list-style-type: none;
              margin-top: 25px;
              svg {
                margin-left: 8px;
                margin-bottom: 2px;
              }
              p {
                margin: 0;
                font: normal normal bold 13px/16px gothamBold;
                letter-spacing: 0;
                color: #5f5f5f;
                opacity: 1;
                text-transform: capitalize;
              }
              span {
                font: normal normal normal 13px/16px Gotham;
                letter-spacing: 0;
                color: #5f5f5f;
                opacity: 1;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    .fizz-logo,
    .fizz-logo-black {
      margin-top: auto;
      width: auto;
      background-size: contain;
      height: 5vh;
      position: relative;
      left: 17px;
      top: auto;
      min-height: 64px;
      z-index: 2;
      bottom: 18px;
      /* background-color: #00042E; */
      background-position-x: 20px;
    }
  }

  .card {
    position: relative;
    flex: 1;
    background: var(--cardBgColor);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;

    &_bgBlock {
      width: 100%;
      position: relative;
      transform: var(--cardBgBlockTransform);

      transition: transform 0.4s, border-radius 0.4s, padding-bottom 0.4s;

      transform-origin: center;
      flex: 1;

      &_content {
        background-image: url($globalBgPath + "loaction-bg-web-right.jpg");
        width: var(--cardBgBlockContentWidth);
        height: var(--cardBgBlockContentHeight);
        padding-bottom: var(--cardBgBlockPaddingBottom);
        margin: var(--cardBgBlockContentMargin);
        border-radius: var(--cardBgBlockBorderRadius);
        border: var(--cardBgBlockBorder);

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        position: relative;
        z-index: 2;
      }
    }

    &_info {
      display: block;
      position: relative;
      z-index: 66;
      padding: 0 20px;
      width: 100%;
      height: inherit;
      margin-top: var(--cardInfoMarginTop);
      text-align: var(--cardInfoTextAlign);
      color: var(--cardInfoColor);

      &_name {
        font-weight: bold;
        font: var(--cardInfoNameFont);
        //display: -webkit-box;
        //-webkit-line-clamp: 2;
        //-webkit-box-orient: vertical;
        word-break: keep-all;
        display: block;
        text-overflow: var(--infoNameTextOverflow);
        white-space: nowrap;
        overflow: hidden;
        text-shadow: var(--textShadow);
        text-transform: var(--cardInfoNameTextTransform);
        span {
          word-break: keep-all;
        }
      }

      &_desk {
        display: var(--cardInfoDeskDisplay);
        font-size: var(--cardInfoDeskFontSize);
        line-height: var(--cardInfoDeskLineHeight);
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: var(--textShadow);
        text-transform: capitalize;
        color: var(--cardInfoDeskColor); /*#586574;*/
      }
    }

    &_contacts {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: var(--cardContactsPadding);
      margin: auto auto 20px;
      transform: var(--cardContactsTransform);
      transform-origin: center;

      .tile {
        &.phone {
          order: 2;
        }
        &.email {
          order: 3;
        }
        &.website {
          order: 4;
        }
        &.address {
          order: 5;
        }

        order: 2;
        display: flex;
        color: var(--tileColor);
        flex-direction: column;
        margin: var(--tileMargin);
        background: var(--tileBg);
        box-shadow: var(--tileShadow);
        border-radius: 8px;
        min-height: var(--cardTileMinHeight);
        flex: 1;
        min-width: 47%;
        padding: 10px;
        text-align: center;
        transition: min-height 0.4s;

        .card_info {
          display: none;
          transform: scale(0);
          transition: transform 0.2s;
          margin-bottom: 30px;

          &_name {
            transition: opacity 0.4s;
          }
        }

        &_icon {
          width: 30px;
          height: 24px;
          margin: 12px auto 10px;
          transition: transform 0.2s;

          &:before {
            width: 100%;
            height: 100%;
            background-size: contain;
            -webkit-mask-size: contain;
            background-color: var(--iconColor);
          }
        }

        &_name_big,
        &_content {
          display: none;
          transform: scale(0);
          transition: transform 0.2s;
          font-size: 20px;
          line-height: 27px;
          font-weight: bold;
          letter-spacing: 0;
          color: var(--tileSelectedColor);
          opacity: 1;
          margin-bottom: 20px;
        }

        &_actionBtn {
          margin: 0 auto 30px;
          display: none;
          transform: scale(0);
          transition: transform 0.2s;
          width: 265px;
          height: 53px;
          background: var(--actionBtnBg);
          box-shadow: var(--actionBtnShadow);
          border-radius: 8px;
          opacity: 1;
          border: none;
          align-items: center;
          justify-content: center;
          font: 20px/23px Arial;
          letter-spacing: 0;
          color: #ffffff;
          text-decoration: none;
          @media screen and (max-width: 400px) {
            height: 40px;
            width: 225px;
            max-width: 225px;
            flex: none;
            font: 16px/17px Arial;

            &:only-child {
              margin: 0 auto;
            }
          }
          &.message {
            background-color: #295afe;
          }
        }
      }
    }

    &_social {
      margin-bottom: 20px;
      min-width: 50%;
      height: 79px;
      padding: var(--cardSocialBlockPadding);
      margin-top: -15px;

      &_block {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        transform: var(--cardSocialBlockTransform);
        transition: transform 0.4s;

        &.no-scroll {
          justify-content: center;
        }

        a {
          flex: none;
          display: block;
          width: 51px;
          height: 51px;

          margin: 0 10px;

          .icon {
            background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: 51px;
          }
        }
      }
    }
  }
}

.menu .card_info_name {
  word-break: break-word;
  white-space: inherit;
}

.rotateBlock {
  display: none;
}

@keyframes opacityBlock {
  0%,
  100% {
    opacity: 1;
  }
  20%,
  80% {
    opacity: 0;
  }
}
@media screen and (max-width: 400px) {
  .cardView:not(.menu) {
    --cardSocialBlockPadding: 0 15px;
    --cardContactsPadding: 0 40px;
    .selected {
      .card_contacts {
        --cardContactsPadding: 0 15px;
      }
    }
  }
}
.cardView:not(.modern) .card_contacts:not(.has-selected) {
  .tile:first-child:nth-last-child(3) {
    flex-basis: 100%;
  }
}
.cardView:not(.modern):not(.menu)
  .card:not(.selected)
  .card_contacts:not(.has-selected).cards-2 {
  min-height: 208px;
  @media screen and (max-width: 400px) {
    min-height: 150px;
  }
  .tile {
    justify-content: center;
  }
}

.cardView .active .loadingWithDelay {
  opacity: 0;
}

.card_contacts.has-selected {
  //transition: opacity 0.1s;
  //&.loadingWithDelay {
  //  opacity: 0;
  //}
}
