::-webkit-scrollbar {
  display: none;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
}

/**  Loader style start */
.loader-wrapper-fix {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #090822;
  z-index: 9999;
  top: 0;
  left: 0;
  animation: mover 0.5s ease-in-out forwards;

  .loader-content-wrapper {
    position: relative;
    text-align: center;
    bottom: 42px;
    width: 262px;

    .loader-text {
      display: flex;
      justify-content: center;
      align-items: baseline;
      font-family: FuturaMediumC, serif;
      font-size: 5.7vh;
      letter-spacing: 1.15px;
      position: relative;
      left: 5px;

      .bubble {
        animation: expand 0.75s ease-in-out infinite;
        border-radius: 50%;
        display: inline-block;
        transform-origin: center center;
        margin: 0 3px;
        @include square(0.7vh);
        background: #ffffff;

        &:nth-child(1) {
          animation-delay: 180ms;
        }

        &:nth-child(2) {
          animation-delay: 360ms;
        }

        &:nth-child(3) {
          animation-delay: 540ms;
        }
      }
    }

    .fizz-logo-loader {
      position: relative;
      height: 16.6vh;
      width: 17.7vh;
      @include backgroundImage();
      background-image: url("/assets/images/logos/logo-gif.gif");
      background-size: contain;
      margin: 0 auto 3.5vh;
      min-width: 143px;
      min-height: 135px;
    }
  }
}

@keyframes mover {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/**  Loader style end */

.preview-card {
  &_left-side.center {
    height: 100%;
  }
}
.final-page {
  .card-container {
    text-align: left;
    margin-left: 90px;
  }
}
.main-container.card-style {
  .card-style_container {
    height: 100%;
    text-align: center;
    @media screen and (min-width: 1024px) {
      .slider-icons {
        margin-top: 3.8vh;
        margin-bottom: 2.2vh;
      }
    }
    .card-container_name {
      margin: 20px auto;
    }
    .card-component-container_header {
      .fizz-logo {
        top: -20px;
      }

      @media screen and (min-width: 1024px) {
        .page_container_text {
          max-width: inherit;
        }
      }
    }
  }

  &:after {
    content: none;
  }
}

.card-container {
  text-align: center;
  .iframe-container {
    transform-origin: top;
  }
  &:hover {
    cursor: pointer;
    .iframe-container {
      transform: scale(1.1);
    }
    .card-container_name {
      visibility: hidden;
      transition: none !important;
    }
    .btnNext {
      border-radius: 20px;
      max-width: 225px;
      background: #3d36e3;
    }
  }
  .scale-container {
    transform: scale(0.79);
  }

  &_name {
    color: $mainGrayColor;
    font-size: 20px;
    font-family: ProximaNovaThin, serif;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1;
    transition: all 0.5s;
    margin-top: 20px;
  }
  button.btnNext {
    max-width: 168px;
    margin: 60px auto 0;
    font-size: 18px;
    padding: 15px 10px;
    transition: all 0.2s;
  }
  &_frame {
    @include backgroundImage();

    .social-icons-container {
      padding: 3px 11px 7px;
    }

    .contacts {
      > div {
        span {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .social-icons {
      overflow: auto;
      padding: 0 18px 16px;
      white-space: nowrap;

      a {
        @include backgroundImage();
        @include square(46px);
        border-radius: 46px;
        display: inline-block;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }

    &.creative,
    &.modern,
    &.minimalist {
      .avatar {
        @include backgroundImage();
      }

      .name {
        font-family: Avenir, serif;
        text-transform: uppercase;
      }

      .contacts {
        @extend %flexCenterEvenly;
        flex-flow: row wrap;
        font-size: 1.8vh;
        line-height: 1.36;

        > div {
          @extend %flexCenterColumn;

          i {
            width: 100%;
          }
        }
      }
    }

    &.minimalist {
      .avatar {
        padding-top: 400px;
        margin-bottom: 24px;
        width: 100%;
      }

      .name {
        color: #000000;
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 0.7px;
        line-height: 1.36;
        margin: auto;
        max-height: 38px;
        min-height: 38px;
        max-width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .personal-data {
        color: #586574;
        font-family: Avenir, serif;
        font-size: 22px;
        letter-spacing: 0.55px;
        line-height: 1.35;
        min-height: 33px;

        span {
          white-space: nowrap;
        }
      }

      .contacts {
        color: #000000;
        margin-top: 32px;

        > div {
          margin-bottom: 31px;

          span {
            letter-spacing: 0.35px;
          }

          a {
            text-decoration: none;
            color: inherit;
            display: contents;
          }

          i {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(235, 239, 252, 1);
            font-size: 21px;
            padding-top: 10px;
            height: 40px;
            width: 57px;
            margin-bottom: 12px;
          }

          &.website {
            @include backgroundImage();
            padding: 0;

            .icon-website {
              &:before {
                background-image: url($globalIconPath + "webpack-dark.svg");
                @include square(5.1vh);
              }
            }
          }

          &.phone {
            @include backgroundImage();
            padding: 0;

            .icon-phone {
              &:before {
                background-image: url($globalIconPath + "icon-phone-dark.svg");
                @include square(4.4vh);
              }
            }
          }

          &.email {
            @include backgroundImage();
            padding: 0;

            .icon-email {
              &:before {
                background-image: url($globalIconPath + "icon-email-dark.svg");
                width: 4.8vh;
                height: 3.8vh;
              }
            }
          }

          &.address {
            @include backgroundImage();
            padding: 0;

            .icon-address {
              &:before {
                background-image: url($globalIconPath + "icon-location-dark-on.svg");
                width: 3.5vh;
                height: 5vh;
              }
            }
          }
        }

        i {
          background-color: #ffffff;
          box-shadow: 0 2px 5px #ebeffcbf;
          border-radius: 8px;
          color: #000000;
          font-size: 21px;
        }
      }
    }

    &.modern {
      @include backgroundImage();
      padding-top: 32px;
      background-image: url("/assets/images/cards-backgrounds/modern-card-main_bg@2x.png");

      .avatar {
        @include square(223px);
        border: 5px solid #ffffff;
        border-radius: 223px;
        margin: 16px auto 29px;
        position: relative;

        &:before {
          content: "";
          @include square(255px);
          border-radius: 255px;
          border: 1px solid #ffffff;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }

      .right-content {
        overflow: hidden;
      }

      .name {
        @extend %flexCenter;
        flex-direction: column;
        font-size: 40px;
        line-height: 1.225;
        letter-spacing: 1px;
        margin: 0 auto 11px;
        //min-height: 98px;
        white-space: nowrap;
        overflow: hidden;

        span {
          display: block;

          &:first-child {
            transform-origin: 0 100%;
          }

          &:last-child {
            transform-origin: 0 0;
          }
        }
      }

      .personal-data {
        @extend %flexCenter;
        flex-direction: column;
        text-transform: uppercase;
        min-height: 52px;
        white-space: nowrap;
        margin-bottom: 5.2vh;

        &::after {
          content: "";
          width: 50px;
          height: 2px;
          background-color: #ffffff;
          margin: 10px auto 0;
        }

        span {
          display: block;
          font-family: Avenir, serif;
          font-size: 16px;
          letter-spacing: 8px;
          line-height: 1.375;
          font-weight: 900;
          margin-bottom: 4px;
          width: fit-content;
          white-space: nowrap;
          margin-left: auto;
          margin-right: auto;

          &.personal-data_company {
            font-weight: 300;
            letter-spacing: 2.4px;
            margin-bottom: 0;
          }

          &:first-child {
            transform-origin: 0 100%;
          }

          &:last-child {
            transform-origin: 0 0;
          }
        }

        &.selected {
          margin-bottom: 2.7vh;

          &::after {
            content: unset;
          }
        }
      }

      .contacts {
        font-family: FuturaMediumC, serif;

        > div {
          position: relative;

          &.website {
            .icon-website {
              &:before {
                background-image: url($globalIconPath + "webpack-light.svg");
                width: 4.8vh;
                height: 4.8vh;
              }
            }
          }

          &.phone {
            @include backgroundImage();
            padding: 0;

            .icon-phone {
              &:before {
                background-image: url($globalIconPath + "icon-phone-light.svg");
                width: 4.5vh;
                height: 4.5vh;
              }
            }
          }

          &.email {
            @include backgroundImage();
            padding: 0;

            .icon-email {
              &:before {
                background-image: url($globalIconPath + "icon-email-light.svg");
                width: 4.8vh;
                height: 3.8vh;
              }
            }
          }

          &.address {
            @include backgroundImage();
            padding: 0;

            .icon-address {
              &:before {
                background-image: url($globalIconPath + "icon-location-light-on.svg");
                width: 3.5vh;
                height: 5vh;
              }
            }
          }

          .filtered-bg {
            @include square(61px);
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 61px;
            mix-blend-mode: soft-light;
            margin-bottom: 15px;
          }

          span {
            font-family: FuturaMediumC, serif;
          }

          a {
            text-decoration: none;
            color: inherit;
            display: contents;
          }

          i {
            content: "";
            color: #ffffff;
            display: block;
            font-size: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, calc(-50% - 16px), 0);
          }
        }
      }

      .social-icons-container {
        border-radius: 44px;
        padding: 0 8px;
        margin: 5px 18px 14px;
        position: relative;
        z-index: 1;

        .filtered-bg {
          background-color: #ffffff;
          border: 1px solid #707070;
          border-radius: 44px;
          padding-top: 10vh;
          position: absolute;
          left: 0;
          opacity: 0.2;
          backdrop-filter: blur(10px);
          width: 100%;
          z-index: -1;
        }

        .social-icons {
          padding: 17px 27px 20px 20px;

          a {
            @include square(40px);
          }
        }
      }
    }

    &.creative {
      //background-color: #292836;
      position: relative;

      .name {
        @extend %flexCenter;
        flex-direction: column;
        color: #d9d8c6;
        font-size: 64px;
        font-family: Athelas, serif;
        left: 30px;
        line-height: 70px;
        min-height: 120px;
        top: 280px;
        text-transform: none;

        span {
          display: block;
          text-align: left;
          max-width: 305px;
          //max-width: 330px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        span:last-child {
          padding-bottom: 3px;
        }
      }

      .personal-data {
        font-size: 20px;
        margin-left: 35px;
        margin-bottom: 15px;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        min-height: 43px;

        &.selected {
          display: none;
        }

        > span {
          display: block;
          white-space: nowrap;

          &.personal-data_company {
            font-size: 18px;
            color: #d9d8c6;
          }
        }

        &:after {
          content: "";
          position: absolute;
          width: 92px;
          border-bottom: 1px solid #ffffff;
          top: 25%;
          right: 28px;
          transform: translate3d(0, -50%, 0);
        }
      }

      .contacts {
        > div {
          margin-bottom: 31px;
          max-width: 145px;

          .content-title {
            font-family: FuturaMediumC, sans-serif;
            color: #d9d8c6;
          }

          a {
            text-decoration: none;
            color: inherit;
            display: contents;
          }

          span {
            max-width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          &.phone {
            @include backgroundImage();
            padding: 0;

            .icon-phone {
              &:before {
                @include square(4vh);
              }

              &.selected {
                &:before {
                  @include square(4.1vh);
                }
              }
            }
          }

          &.email {
            @include backgroundImage();
            padding: 0;

            .icon-email {
              &:before {
                width: 4.3vh;
                height: 3.5vh;
              }
            }
          }

          &.address {
            @include backgroundImage();
            padding: 0;
            margin-bottom: 0;

            .icon-address {
              &:before {
                height: 4.2vh;
                width: 3vh;
              }
            }
          }

          &.website {
            @include backgroundImage();

            .icon-website {
              &:before {
                @include square(4.3vh);
              }
            }
          }
        }
      }

      .social-icons-container {
        position: relative;
        padding: 0;
        bottom: 15px;
        left: 0;
        right: 0;
        text-align: center;

        .social-title {
          color: #d9d8c6;
          font-family: ProximaNovaBold, serif;
          font-size: 21px;
          letter-spacing: 1px;
          line-height: 1;
          padding-top: 19px;
          margin-bottom: 19px;
        }

        .social-icons {
          padding: 3px 10px 15px;

          a {
            @include square(40px);
          }
        }
      }
    }
  }
}

.card-style {
  padding-top: 30px;
  height: calc(var(--vh, 1vh) * 100);
  &_container {
    @extend %flexColumnSpace-between;
    width: 100%;
    position: relative;
    .fizz-logo {
      position: absolute;
      width: 115px;
      height: 97px;
      padding: 0;
      left: 40px;
      top: 37px;
    }

    &_bottom {
      position: relative;
      width: 100%;
      padding: 0.9vh 0;
      z-index: 1;
      margin-top: 33px;

      .page_container_title {
        margin-bottom: 10px;
        font-size: 4.7vh;
      }

      .page_container_text {
        font-size: 2vh;
      }

      .slider-icons {
        @extend %flexCenterCenter;
        margin-top: 24px;
      }

      .backNavigation {
        position: absolute;
        width: 247px;
        height: 74px;
        background: #010b33;
        opacity: 1;
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        border: none;
        justify-content: center;
        cursor: pointer;
        font-size: 23px;
        color: #ffffff;
        span {
          padding-left: 8px;
        }
        @media screen and (min-width: 1024px) {
          transition: all 0.1s;
          &:not(.disabled):hover {
            color: #d8253e;
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &_types {
    @extend %flexCenterSpace-between;
    margin-bottom: 63px;
    //min-width: 800px;
    padding: 0 6% 0 5%;
    width: 100%;

    .cards-mobile-container {
      display: none;
      visibility: hidden;
    }
  }
}

.cards-mobile-container .card-container,
.preview-card_left-side {
  .card-container_frame {
    min-height: unset;
  }

  .card-wrap {
    position: relative;
    background-color: #020022;
    height: 479px;
    width: 221px;
    min-height: unset;
    border: 1px solid;
    border-radius: 14px;
    overflow: hidden;
    transform: scale(0.8);

    .btn-wrapper {
      display: none;
    }

    .avatar-card {
      background-size: cover;
      background-position-x: center;
      padding-top: 100%;
      height: unset;

      &:after {
        background-image: linear-gradient(180deg, #020022 75%, #29283600 100%);
      }
    }

    .card-container_frame {
      padding: 0;
      margin: 0;
      width: 100%;
      border: none;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: unset;

      .left-bar {
        display: none;
      }

      .right-content {
        width: 100%;
        z-index: 9999;
        left: 0;
        margin-top: auto;

        .name {
          margin-left: 15px;
          font-size: 34px;
          min-height: unset;
        }

        .personal-data {
          &:after {
            width: 58px;
            right: 20px;
          }

          font-size: 10px;
          margin-left: 15px;
          margin-bottom: 0;

          span:nth-child(2) {
            font-size: 8px;
          }
        }

        .contacts {
          margin-right: 20px;
          margin-left: 20px;
          font-size: 8px;
          margin-bottom: 34px;
          min-height: unset;

          div {
            margin: 0;
            min-width: 75px;
            max-width: 75px;

            span {
              max-width: 75px;
            }

            i {
              height: 28px;
              width: 38px;
            }

            &.phone {
              .icon-phone {
                &:before {
                  width: 15px;
                  height: 15px;
                }
              }
            }

            &.mail {
              .icon-envelope {
                &:before {
                  padding-top: 7px;
                  width: 16px;
                  height: 13px;
                }
              }
            }

            &.web {
              .icon-webpack {
                &:before {
                  width: 15px;
                  height: 17px;
                }
              }
            }

            &.address {
              .icon-location {
                &:before {
                  width: 11px;
                  height: 16px;
                }
              }
            }
          }
        }

        .social-icons-container {
          bottom: 20px;

          .social-icons {
            width: 153px;

            a {
              width: 28px;
              height: 28px;
              transition: none;
            }

            a:not(:last-child) {
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}

.card-wrap {
  background-color: #ffffff;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
}

@media only screen and (max-width: 1240px) {
  .card-style_types {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .card-style_types {
    padding: 0;
  }

  .avatar-card {
    margin-bottom: 26px;
    padding-top: 400px;
    position: relative;
    width: 100%;
    transition: ease-in-out 0.4s;
  }

  .btn-wrapper {
    visibility: visible;
    width: 53px;
    height: auto;
    position: absolute;
    z-index: 999999;
    padding: 13px;
    cursor: pointer;

    .btn-item {
      width: 30px;
      height: 3px;
      background-color: #fff;
      border-radius: 4px;
      margin: 4px auto 0;
    }

    &.menu {
      left: 35%;
      top: 17px;

      .btn-item {
        height: 2px;
        border-radius: 2px;
        background-color: #000000;
        width: 23px;

        &.one {
          transform: rotate(-55deg) translate(-9px, 6px);
          left: 4px;
          position: relative;
          top: -13px;
        }

        &.two {
          display: none;
        }

        &.free {
          transform: rotate(55deg) translate(-8px, -8px);
          position: relative;
          left: 2px;
          top: 3px;
        }
      }
    }

    &.minimalist {
      .btn-item {
        background-color: black;
      }
    }
  }
  .avatar-card {
    position: absolute;
    width: 100%;
    height: 377px;
    top: 0;
    background-size: 125%;
    background-position-x: -45px;

    &.menu {
      background-position-x: 80px;
      background-size: 115%;
      transition: size 0.4s, background-position ease-in-out 0.4s;
    }
  }

  .card-component-container {
    &.creative {
      .card-wrap {
        background-color: #020022;

        .avatar-card {
          &:after {
            content: "";
            background-image: linear-gradient(
              180deg,
              #020022 10%,
              #29283600 100%
            );
            top: 150px;
            display: block;
            padding-top: 266px;
            position: absolute;
            transform: matrix(-1, 0, 0, -1, 0, 0);
            width: 100%;
          }
        }
      }
    }

    &.modern {
      .card-wrap {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        padding-top: 0;
        background-image: url("/assets/images/cards-backgrounds/modern-card-main_bg@2x.png");
        background-size: cover;

        .avatar {
          width: 25.5vh;
          height: 25.5vh;
          border: 5px solid #ffffff;
          border-radius: 50%;
          position: relative;
          background-size: cover;
          left: 0;
          right: 0;
          top: 0;
          margin: 4vh auto 4.5vh;

          &.selected {
            width: 17vh;
            height: 17vh;
            margin-top: 3.8vh;

            &:before {
              width: 19.5vh;
              height: 19.5vh;
            }
          }

          &.menu {
            @include square(13.2vh);
            margin: 1.5vh auto 0;

            &:before {
              content: "";
              @include square(15.4vh);
            }
          }

          &:before {
            content: "";
            width: 29.5vh;
            height: 29.5vh;
            border-radius: 50%;
            border: 1px solid #ffffff;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
        }
      }
    }

    &.minimalist {
      .card-wrap {
        .avatar-card {
          position: absolute;
          width: 100%;
          padding: 0;
          height: 49vh;
          top: 0;
          background-size: cover;
          background-position-x: center;
          background-position-y: top;

          &.menu {
            background-position-x: 6vh;
            background-size: 115%;
            transition: size 0.4s, background-position ease-in-out 0.4s;
            height: 27vh;
          }
        }
      }
    }
  }

  .card-container_frame {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    transform: none;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;

    .left-bar-options {
      li {
        cursor: pointer;
      }
    }

    &.creative,
    &.modern,
    &.minimalist {
      .left-bar {
        position: absolute;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        min-height: calc(var(--vh, 1vh) * 100);
        //transition: opacity 0.3s, visibility 0.3s;
        top: 0;

        .logo {
          background-image: url("/assets/images/logos/logo_2_dark.png");
          width: 17vh;
          height: 14.3vh;
          background-size: cover;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: 15px;
        }

        ul {
          color: black;
          text-decoration: none;
          list-style: none;
        }

        .left-bar-options {
          margin: 0;
          font-size: 16px;
          position: relative;
          text-align: left;
          left: -150px;
          top: 118px;
          color: rgba(95, 95, 95, 1);
          font-family: Gotham, serif;

          li {
            font-size: 13px;
            color: rgba(95, 95, 95, 1);
            padding-bottom: 14px;
            font-weight: 100;
            letter-spacing: 0;

            :hover {
              color: black;
            }

            :first-child {
              padding-top: 14px;
            }

            &.active {
              > ul {
                display: block;

                div:first-child {
                  color: #5f5f5f;
                  font-weight: bold;
                  padding: 0;
                  line-height: 24px;
                }

                strong {
                  font-weight: bold;
                }

                .icon-plus-custom {
                  display: inline-block;
                  border: 1px solid #5f5f5f;
                  height: 15px;
                  width: 15px;
                  text-align: center;
                  line-height: 13px;
                  margin-bottom: 7px;
                  margin-left: 1px;
                }

                .icon-more-custom {
                  display: inline-block;
                  margin-left: 2px;

                  span {
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #5f5f5f;
                    margin-bottom: 2px;
                    border: none;
                    padding: 0;
                  }
                }
              }
            }

            > ul {
              padding-left: 7px;
              display: none;
            }
          }

          > li {
            margin-bottom: 27px;
            color: rgba(0, 0, 0, 1);
            padding: 0;
            font-weight: bold;
            letter-spacing: 0.48px;

            &.active {
              color: #0dbaad;
            }
          }

          > li:hover {
            color: #0dbaad;
          }
        }
      }

      .right-content {
        .contacts {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1.8vh 1.4vh;
          justify-items: center;
          align-items: center;
          text-align: center;
          padding: 0;
          margin: 0 auto;

          &.grid-1 {
            grid-template: ".";
            grid-template-columns: 100%;

            .card-info-item:not(.selected) {
              width: 100% !important;
              max-width: unset !important;
            }

            &.modern:not(.selected),
            &.minimalist:not(.selected) {
              margin-top: 14.4vh;
            }

            &.selected {
              grid-template: "selected";
            }
          }

          &.grid-2 {
            grid-template:
              ". ."
              ". .";
            grid-template-columns: 50% 50%;

            &.modern:not(.selected) {
              margin-top: 14.4vh;
            }

            &.selected {
              grid-template:
                "selected"
                ".";

              .card-info-item:not(.selected) {
                width: 100%;
                max-width: unset;
              }
            }
          }

          &.grid-3 {
            grid-template:
              ". ."
              ". .";

            grid-template-columns: 50% 50%;

            &:not(.selected) .card-info-item:last-child {
              grid-column: 1 / 3;
              width: 100%;
              max-width: unset;
            }

            &.selected {
              grid-template:
                "selected selected"
                ". .";

              .card-info-item:not(.selected) {
                width: 100%;
                max-width: unset;
              }
            }
          }

          &.selected {
            grid-template:
              "selected selected selected"
              ". . .";
          }
        }
      }
    }

    &.creative,
    &.minimalist {
      background-color: transparent;

      .right-content {
        width: 100%;
        z-index: 9999;
        left: 0;
        margin-top: auto;

        .name {
          font-size: 7.7vh;
          line-height: 1;
          margin-left: 35px;
          margin-bottom: 10px;
          overflow: hidden;
          padding-bottom: 0.5vh;

          > div {
            white-space: nowrap;
            width: fit-content;

            &:first-child {
              transform-origin: 0 100%;
            }

            &:last-child {
              transform-origin: 0 0;
            }
          }
        }

        .personal-data {
          font-size: 2.4vh;
          //margin-bottom: 5.2vh;
          letter-spacing: 2.85px;
          //overflow: hidden;

          > div {
            transform-origin: 0 50%;
            white-space: nowrap;
            width: fit-content;

            &:first-child {
              line-height: 22px;
            }

            &:nth-child(2) {
              font-size: 1.8vh;
              color: #d9d8c6;
            }
          }

          &:after {
            width: 11.4vh;
          }
        }

        .contacts {
          &.selected {
            > div:not(.selected) {
              border-radius: 8px;
              width: 12.6vh;
              height: 7.2vh;
              font-size: 1.1vh;

              .content-wrapper {
                padding-top: 12px;
              }

              .icon-phone {
                &:before {
                  @include square(2.5vh);
                }
              }

              .icon-email {
                &:before {
                  width: 2.9vh;
                  height: 2.4vh;
                }
              }

              .icon-website {
                &:before {
                  @include square(3vh);
                }
              }

              .icon-address {
                &:before {
                  height: 2.9vh;
                  width: 2vh;
                }
              }
            }
          }

          &.creative {
            max-width: 37.2vh;
          }

          &.minimalist {
            max-width: 35vh;
          }

          > div {
            background-size: cover;
            padding: 0;
            margin: 0;
            width: 100%;
            background-color: #0c1440;
            border: 1px solid #d9d8c6;
            border-radius: 1.6vh;
            height: 10.6vh;
            box-shadow: 0 2px 5px #135ce569;

            .icon-container {
              filter: drop-shadow(0px 3px 45px rgba(217, 216, 198, 0.35));
            }

            .content-wrapper {
              text-align: center;
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: column;
              padding-top: 16px;
              width: 100%;
              height: 100%;
              max-height: inherit;

              &.selected {
                max-height: unset;
                justify-content: center;

                div[class^="icon-"] {
                  margin-bottom: 5vh;
                }

                .content-title {
                  font-size: 2.5vh;
                  margin-bottom: 3.8vh;

                  .info {
                    color: #ffffff;
                    font-weight: 600;
                    max-width: 34vh;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                  }
                }

                .btn-event {
                  width: 21.9vh;
                  height: 6.5vh;
                  color: #ffff;
                  background: #ea533f;
                  border-radius: 1vh;
                  border: none;
                  font-size: 2.5vh;
                  box-shadow: 0 3px 6px #ea533f5d;
                }
              }

              div {
                &.icon-phone {
                  &:before {
                    //padding-top: 21px;
                    //width: 21px;
                  }
                }

                &.icon-envelope {
                  &:before {
                    padding-top: 20px;
                    width: 24px;
                  }
                }

                &.icon-webpack {
                  &:before {
                    padding-top: 22px;
                    width: 22px;
                  }
                }

                &.icon-location {
                  &:before {
                    padding-top: 24px;
                    width: 16px;
                  }
                }
              }
            }

            span {
              max-width: 120px;
              font-size: 14px;
            }
          }

          &.selected {
            > div.selected {
              .icon-container {
                filter: drop-shadow(0px 3px 10px rgba(217, 216, 198, 0.35));
              }
            }
          }

          .phone,
          .email,
          .website,
          .address {
            &.selected {
              max-width: unset;
              grid-area: selected;
              width: 40vh;
              height: 34vh;
            }
          }

          &.minimalist {
            &.selected {
              > div:not(.selected) {
                width: 11.5vh;
                height: 7.8vh;
              }

              > div {
                .content-wrapper {
                  .content-title {
                    margin-left: 1.8vh;
                    margin-right: 1.8vh;
                  }
                }
              }
            }

            min-height: unset;
            grid-gap: 4px;

            &.selected {
              margin-top: 0;
            }

            > div {
              background: #ffffff;
            }

            > div:not(.selected) {
              box-shadow: unset;
              border: 0;
              background-size: cover;
              width: 100%;
              height: 11.6vh;
              background-color: #ffffff;
              border-radius: 0;
              max-width: 17.3vh;

              .content-wrapper {
                padding-top: 2.6vh;
              }
            }

            .phone,
            .email,
            .website,
            .address {
              &.selected {
                max-width: unset;
                grid-area: selected;
                width: 35vh;
                height: 38.5vh;
                border: unset;
                box-shadow: 0 3px 10px #ebeffcd0;
              }
            }

            .content-wrapper {
              &.selected {
                .content-title {
                  .info {
                    color: #262626;
                  }
                }

                .btn-event {
                  color: #ffff;
                  background: #3feadd;
                  box-shadow: 0 3px 6px #0dbaad5d;
                }
              }
            }
          }
        }

        .personal-data {
          &.hidden {
            display: none;
          }
        }

        .social-icons-container {
          .social-title {
            padding-top: 7px;
            margin-bottom: 7px;
          }

          .social-icons {
            padding-left: 0;
            padding-right: 0;
            width: 33.8vh;
            margin: 0 auto;
            padding-bottom: 0;

            a {
              width: 6.2vh;
              height: 6.3vh;
            }

            a:not(:last-child) {
              margin-right: 3vh;
            }
          }
        }
      }
    }

    &.creative {
      .right-content {
        .social-icons-container {
          margin-bottom: 3.8vh;
          margin-top: 4.8vh;
          padding: 0;
          bottom: 0;
        }
      }
    }

    &.modern {
      background-image: unset;
      padding: 0 2.3vh 0;
      min-height: unset;
      margin-top: 1vh;
      flex: 1;

      .right-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        .name {
          font-size: 4vh;
          text-align: center;
          font-family: AvenirMedirum, serif;
          margin: 0 auto 5px;
        }

        .personal-data {
          text-align: center;

          span {
            font-size: 2.5vh;
            font-family: AvenirHeavy, serif;
            letter-spacing: 1px;

            &.personal-data_company {
              opacity: 0.8;
              font-family: AvenirLight, serif;
              font-size: 2vh;
              letter-spacing: 2px;
            }
          }
        }

        .contacts {
          padding: 0;
          max-width: 28.2vh;
          grid-gap: 15px 52px;

          > div:not(.selected) {
            .content-wrapper {
              width: 10.9vh;
              height: 10.9vh;
              background: #0757d9;
              border: 2px solid #ffffff;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .content-title {
              margin-top: 9px;
            }

            span {
              max-width: 14.8vh;
            }
          }

          .phone,
          .email,
          .website,
          .address {
            &.selected {
              max-width: unset;
              grid-area: selected;
              width: 34.4vh;
              height: 34.4vh;
              background: #0757d9;
              border: 4px solid #ffffff;
              border-radius: 50%;

              .content-wrapper {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                justify-content: space-around;
                padding-left: 10px;
                padding-right: 10px;

                div[class^="icon-"] {
                  margin-top: 4.8vh;
                  padding: 0;
                  margin-bottom: 1.6vh;
                }

                .icon-phone {
                  &:before {
                    width: 4.1vh;
                    height: 4.1vh;
                  }
                }

                .icon-website {
                  &:before {
                    width: 5.3vh;
                    height: 5.3vh;
                  }
                }

                .icon-email {
                  &:before {
                    width: 4.2vh;
                    height: 3.4vh;
                  }
                }

                .icon-address {
                  &:before {
                    width: 3.5vh;
                    height: 5vh;
                  }
                }

                .btn-event {
                  max-width: 152px;
                  height: 5.5vh;
                  margin: 0 auto 3.8vh;
                  width: 18.8vh;
                  border-radius: 8px;
                  border: none;
                  color: #0e5edf;
                  box-shadow: 0 3px 6px #0dbaad5d;
                  background-color: #ffffff;
                }

                .content-title {
                  font-size: 2.3vh;

                  .info {
                    font-weight: bold;
                    max-width: 35vh;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                  }
                }
              }
            }
          }

          &.selected {
            grid-gap: 15px 0;

            > div {
              .content-wrapper {
                width: 6.9vh;
                height: 6.9vh;
              }

              .content-title {
                font-size: 9px;
              }
            }

            > div:not(.selected) {
              .content-wrapper {
                .icon-phone {
                  &:before {
                    @include square(2.9vh);
                  }
                }

                .icon-website {
                  &:before {
                    @include square(4.1vh);
                  }
                }

                .icon-email {
                  &:before {
                    width: 3.1vh;
                    height: 2.5vh;
                  }
                }

                .icon-address {
                  &:before {
                    width: 2.2vh;
                    height: 3.2vh;
                  }
                }
              }
            }
          }
        }

        .social-icons-container {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          max-width: 41.7vh;
          min-width: 273px;
          min-height: 8vh;
          margin: 3.8vh auto 2.3vh;

          .social-icons {
            text-align: center;
            padding: 0 31px 0 24px;
            border-radius: 44px;

            a {
              width: 6.3vh;
              height: 6.3vh;
              min-width: 40px;
              min-height: 40px;
              max-width: 51px;
              max-height: 51px;
            }

            a:not(:last-child) {
              margin-right: 3vh;
            }
          }
        }
      }
    }

    &.minimalist {
      background-color: #f2f3f7;

      .left-bar {
        box-shadow: 10px 0 25px #00000029;
      }

      .right-content {
        text-align: center;
        overflow: hidden;

        .name {
          margin: 0 auto;
          max-width: unset;
          overflow: hidden;
          font-size: 3.4vh;
          text-overflow: unset;
          width: fit-content;

          &.selected {
            color: #ffffff;
          }
        }

        .contacts.minimalist {
          > div:not(.selected) {
            box-shadow: 0 0 3px #ebeffcbf;

            &:nth-last-of-type(-n + 2) {
              box-shadow: 0 9px 10px #ebeffcbf;
            }

            &:last-child {
              border-bottom-right-radius: 8px;
            }

            &:nth-last-child(2) {
              border-bottom-left-radius: 8px;
            }

            &:nth-last-child(3) {
              border-top-right-radius: 8px;
            }

            &:first-child {
              border-top-left-radius: 8px;
            }
          }
        }

        .personal-data {
          overflow: hidden;
          font-size: 2.3vh;
          font-family: AvenirBook, serif;
          white-space: nowrap;
          text-overflow: unset;
          letter-spacing: 0.45px;
          margin: 0 10px 26px;

          .personal-info-container {
            width: fit-content;
            margin: 0 auto;
          }

          span {
            text-overflow: unset;
            width: fit-content;
          }
        }

        .social-icons-container {
          margin-bottom: 2.6vh;
          margin-top: 4.2vh;
          padding: 0;

          .social-icons {
            filter: drop-shadow(0px 3px 5px #dfe3eb);
          }
        }
      }
    }
  }

  .card-container_frame.menu {
    .left-bar {
      position: absolute;
      opacity: 0.95;
      width: 51.7%;
      visibility: visible;
      z-index: 99999;
      //transition: opacity 0.3s, visibility 0.3s;
      max-width: 194px;
      min-height: calc(var(--vh, 1vh) * 100);
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .left-bar-options {
        left: -15px;
        transition: left 0.8s;
        padding: 0;
      }
    }

    .right-content {
      position: relative;
      z-index: 9999;
      background-color: transparent;
      margin-top: auto;
      width: 48.3%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: unset;

      .name {
        margin: 0 auto;
        text-align: center;
        max-width: 144px;
        font-size: 5vh;
        align-items: center;
        white-space: unset;
        overflow: unset;

        > span {
          text-align: center;
        }
      }

      .personal-data {
        display: none;
        opacity: 0;
      }

      .social-icons-container {
        margin: 0 auto;
        max-width: 15.5vh;

        .social-icons {
          margin: 0 auto;
        }
      }

      .contacts {
        margin: unset;
        position: relative;
        flex-direction: column;
        grid-template:
          "."
          "."
          "."
          "." !important;
        grid-gap: 1.8vh 2vh;

        > div:not(.selected) {
          grid-column: unset !important;

          .content-wrapper {
            width: 16.5vh;
            height: 9.8vh;

            .icon-phone {
              &:before {
                @include square(3.6vh);
              }
            }

            .icon-email {
              &:before {
                width: 4vh;
                height: 3.1vh;
              }
            }

            .icon-website {
              &:before {
                @include square(4vh);
              }
            }

            .icon-address {
              &:before {
                height: 3.8vh;
                width: 2.7vh;
              }
            }
          }

          .content-title {
            font-size: 1.6vh;
          }
        }
      }

      .social-icons-container {
        margin-bottom: 3.8vh;
        margin-top: 3.2vh;

        .social-icons {
          width: unset;
        }
      }
    }

    &.creative {
      .right-content {
        .name {
          transform: scale(0.8);

          > div {
            transform-origin: unset;
          }
        }
      }
    }

    &.minimalist {
      .right-content {
        .name {
          max-height: unset;
          margin-bottom: 2.7vh;
          max-width: 24vh;

          > span {
            transform: scale(0.8);
            text-align: center;
            display: block;
            line-height: 3.8vh;
          }
        }

        .contacts {
          grid-gap: 18px;

          > div:not(.selected) {
            width: 15.2vh;
            height: 10.3vh;
            border-radius: 1vh;
            box-shadow: 0 0 3px #ebeffcbf;

            .content-wrapper {
              padding-top: 2.4vh;

              .content-title {
                font-size: 1.5vh;
              }
            }

            .icon-phone {
              &:before {
                @include square(3.8vh);
              }
            }

            .icon-email {
              &:before {
                width: 4vh;
                height: 3.1vh;
              }
            }

            .icon-website {
              &:before {
                @include square(4.4vh);
              }
            }

            .icon-address {
              &:before {
                height: 3.8vh;
                width: 2.7vh;
              }
            }
          }
        }

        .social-icons-container {
          max-width: 17.2vh;
          margin-bottom: 2.6vh;
          margin-top: 4.3vh;

          .social-icons {
            margin-left: 8px;
          }
        }
      }
    }

    &.modern {
      padding-right: 0;
      margin-top: auto;
      height: calc(var(--vh, 1vh) * 100);
      padding-bottom: 0;

      .right-content {
        height: 100vh;
        justify-content: space-evenly;
        .name {
          font-size: 2.6vh;
          transform: scale(0.8);
          margin-top: 0.5vh;
          margin-bottom: 0.5vh;
        }

        .personal-data {
          display: none;
        }

        .contacts {
          padding: 0;
          margin: 0 auto 4.5vh;

          > div {
            margin: 0;
          }

          > div:not(.selected) {
            .content-wrapper {
              width: 9.1vh;
              height: 9.1vh;
            }
          }
        }

        .social-icons-container {
          margin-top: unset;
          margin-bottom: unset;
          bottom: 10px;

          .social-icons {
            max-width: 125px;
            padding-right: 15px;
            margin-right: 112px;
            padding-left: 0;

            a {
              transform: unset;
            }

            a:not(:last-child) {
              margin-right: 24px;
            }
          }
        }
      }
    }
  }

  .preview-card {
    &_left-side.center {
      height: 100vh;
    }
  }
  .btn-container {
    margin-bottom: 40px;
  }
}

@media only screen and (max-height: 668px) {
  .card-component-container {
    &.modern {
      .card-wrap {
        .avatar {
          width: 17.5vh;
          height: 17.5vh;

          &:before {
            width: 21.5vh;
            height: 21.5vh;
          }
        }

        .card-container_frame {
          .right-content {
            .social-icons {
              padding: 0 31px 0 30px;
            }
          }

          &.menu {
            .right-content {
              .avatar.menu {
                margin: 2vh auto 4vh;
                width: 11vh;
                height: 11vh;
                &:before {
                  width: 14vh;
                  height: 14vh;
                }
              }

              .name {
                font-size: 2.2vh !important;
                margin-top: -2vh;
                margin-bottom: 0.5vh;
              }

              .contacts {
                grid-gap: 10px;
                margin-bottom: 2.5vh;

                div {
                  &.filtered-bg {
                    width: 48px;
                    height: 48px;
                    margin-bottom: 7px;
                  }

                  i {
                    &:before {
                      margin-top: 3px;
                    }
                  }
                }
              }

              .social-icons-container {
                left: 10px;
                min-height: 65px;

                .filtered-bg {
                  padding-top: 10vh;
                }

                .social-icons {
                  padding-left: 0;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }

    &.minimalist {
      .card-wrap {
        .avatar-card {
          height: 43vh;
        }

        .card-container_frame {
          &.menu {
            .right-content {
              .name {
                margin-bottom: 0.7vh;
              }
            }
          }
        }
      }
    }
  }
}

/** IPone 5 and < 5  */
@media screen and (device-aspect-ratio: 40/71) and (device-aspect-ratio: 2/3) {
  .card-component-container {
    &.modern {
      .card-wrap {
        .avatar {
          margin-bottom: unset;
          margin-top: 3vh;
        }

        .card-container_frame {
          .right-content {
            .name {
              min-height: unset;
              font-size: 4vh;
            }

            .personal-data {
              margin-bottom: unset;
            }

            .social-icons-container {
              min-height: 48px;

              .filtered-bg {
                padding-top: 58px;
              }
            }
          }

          &.menu {
            .right-content {
              .contacts {
                > div {
                  margin-bottom: 6px;

                  .filtered-bg {
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.iframe-container {
  transition: all 0.2s;
}
