.main-container {
  &:after {
    padding-top: 18.23%;
  }
}

.choose-image {
  .notification-container {
    background-color: #fd2b53;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.3;
    width: 300px;
    padding: 20px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translate3d(-50%, 0, 0);
    z-index: 10;

    .notification-button {
      margin-top: 20px;
      width: 50%;
      color: #fd2b53;
      background-color: #ffffff;
      border: none;
      border-radius: 20px;
      padding: 10px;
    }
  }

  &_container {
    height: 100%;
    min-height: 610px;
    justify-content: flex-start;
    padding-bottom: 6.1vh;

    .page_container_title {
      font-size: 4.7vh;
    }

    .fizz-logo {
      position: relative;
      width: 13.8vh;
      background-size: cover;
      margin-bottom: 6vh;
      margin-top: 3.3vh;
      height: 11.6vh;
      min-height: 11.6vh;
    }

    .image-container {
      margin-bottom: 7.1vh;
      position: relative;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        min-height: 170px;
        overflow: hidden;
      }
      .avatar {
        @include square(24.5vh);
        @include backgroundImage();
        overflow: hidden;
      }

      .icon-user-circle {
        font-size: 24.5vh;
        filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.06));
        line-height: 1;
        background-size: 60% 75%;
        background-position: center center;
        opacity: 0.8;
      }

      .icon-plus {
        @extend %flexCenterCenter;
        background-color: #fd2b53;
        bottom: 17.5px;
        border-radius: 50%;
        position: absolute;
        font-size: 3.5vh;
        right: 6.5px;
        z-index: 2;
        width: 4.8vh;
        height: 4.8vh;
        text-align: center;
        line-height: 3.5vh;
      }
    }

    .page_container_text {
      font-size: 30px;
    }

    .slider-icons {
      margin-top: 59px;
      margin-bottom: 51px;

      .slider-icon {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.d-none {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .choose-image.main-container {
    .slider-icons {
      margin-top: 59px;
      margin-bottom: 70px;
      .slider-icon {
        width: 13px;
        height: 13px;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .choose-image {
    .inner-container {
      backdrop-filter: none;
      background-color: transparent;
      border-radius: unset;
      min-height: unset;
      padding-bottom: 0;
    }
    &_container {
      .fizz-logo {
        width: 11.6vh;
        height: 9.9vh;
        margin-bottom: 4vh;
        background-size: contain;
        min-height: 55px;
      }

      .image-container {
        margin-bottom: 63px;
        margin-top: auto;
        .avatar {
          width: 205px;
          height: 210px;
        }

        .removeFilter {
          backdrop-filter: unset;
        }

        .icon-user-circle {
          font-size: 212px;
          line-height: 1;
          filter: unset;
          background: unset;
          box-shadow: 0 10px 30px #0000000f;
        }

        .icon-plus {
          font-size: 2.7vh;
          padding: 7px 8px;
          right: 4px;
          bottom: 11px;
          line-height: unset;
        }
      }

      .page_container_title {
        font-size: 3.94vh;
      }

      .page_container_text {
        max-width: 265px;
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 1023px) {
  .choose-image .inner-container .slider-icons {
    margin-top: 58px !important;
    margin-bottom: 72px !important;

    .slider-icon {
      width: 10px;
      height: 10px;
    }
  }
  .choose-image_container .image-container {
    margin-bottom: 45px !important;
  }
  .choose-image_container .image-container .icon-plus {
    width: 44px !important;
    height: 44px !important;
  }
}
