.main-container {
  @include backgroundImage();
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  @media screen and (min-width: 1024px) {
    &:not(.card-style),
    &:not(.preview-card),
    &:not(.final-page) {
      padding: 30px;
    }
  }
}

.inner-container {
  @extend %flexColumnSpace-between;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 15, 45, 0.5);
  border-radius: 25px;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 8;
  padding-bottom: 4.1vh;
  max-width: 736px;
  max-height: 100%;
  min-height: 1022px;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
  @media screen and (max-width: 1023px) {
    justify-content: flex-start;
    max-width: 420px;
  }
}

.fizz-logo {
  @include backgroundImage();
}

.page_container_title,
.page_container_text {
  color: $mainGrayColor;
  text-align: center;
}

.page_container_title {
  font-size: $mainTitleFontSize;
  font-weight: bold;
  line-height: 1;
  margin-top: 0;
}

.page_container_text {
  font-size: $mainTextFontSize;
  line-height: 1.28;
}

.navigation_buttons_container {
  @extend %flexColumnSpace-between;
  height: 120px;
  @media screen and (max-width: 1023px) {
    margin-top: auto;
  }
  button {
    cursor: pointer;
  }
}

.slider-icons {
  display: flex;
  position: relative;

  margin-top: 3.8vh;
  margin-bottom: 5.2vh;

  .slider-icon {
    @include square(13px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    border-radius: 50%;

    &.mobile {
      visibility: hidden;
      display: none;
    }

    &:not(:last-of-type) {
      margin-right: 15px;
    }

    &.active {
      background-color: #ffffff;
      border-color: #ffffff;
    }
  }
}

form {
  @media screen and (min-width: 1023px) {
    margin: 0;
  }
  margin: auto 0 0 0;
  margin-block-end: 0;
  max-width: 486px;
  width: 100%;

  input[type="text"],
  input[type="number"],
  input[type="url"],
  input[type="tel"],
  input[type="email"] {
    @include placeholder();
    height: 55px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 17px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-bottom: 17px;
    transition: border-color 0.2s, background-color 0.2s;
    &.capitalize {
      text-transform: capitalize;
    }
    @media screen and (min-width: 1024px) {
      height: 65px;
      background: TRANSPARENT;
      border-radius: 10px;
      padding: 10px 30px;
      margin-bottom: 25px;
      border: 1px solid #969ab2;
      font-size: 22px;
    }

    &:focus,
    &.active {
      background-color: rgba(20, 20, 20, 0.45);
    }
    &:focus,
    &.active,
    &:hover {
      border-color: #36ffd1;
    }

    &.warning {
      border-color: #ff3e53;
      color: #ff3e53;

      &::placeholder {
        color: #ff3e53;
      }

      &:hover,
      &:focus {
        border-color: #ff3e53;
      }
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@media only screen and (max-width: 1023px) {
  .navigation_buttons_container {
    margin-bottom: 8.9vh;
    height: unset;
    min-height: unset;
  }

  .slider-icons {
    .slider-icon {
      @include square(10px);

      &.mobile {
        visibility: visible;
        display: block;
      }
    }
  }
}

.absolute-container {
  position: absolute;
}

.error-message {
  color: #ff3e53;
  font-size: 22px;
  opacity: 0.8;
  position: absolute;
  right: 50%;
  text-align: center;
  top: -35px;
  transform: translate3d(50%, 0, 0);
  white-space: nowrap;

  @media only screen and(max-width: 1023px) {
    font-size: 16px;
    top: -30px;
  }
}

.page_container_title {
  margin-bottom: 8px;
  font-size: 30px !important;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #f0edf7;
  font-family: "ProximaNovabold", serif;
  @media screen and (min-width: 1024px) {
    font-size: 50px !important;
  }
}

.page_container_text {
  margin: 0 auto;
  max-width: 300px;
  font-size: 20px !important;
  color: #c7c7cd;
  font: normal normal 20px/24px ProximaNova;
  font-weight: normal;
  @media screen and (min-width: 1024px) {
    font-size: 30px !important;
    line-height: 36px;
    max-width: 440px;
    margin: 6px auto 0;
    color: #edf0f7;
  }
}
