.main-container {
  &:after {
    padding-top: 18.23%;
  }
}

.contact-info.main-container {
  padding: 30px 0 30px;
}

.contact-info {
  .header-texts {
    margin-bottom: 6.8vh;

    .page_container_title {
      margin-bottom: 6.5px;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .contact-info {
    padding: 0 !important;
    height: calc(var(--vh, 1vh) * 100);
    min-height: calc(var(--vh, 1vh) * 100);

    .inner-container {
      backdrop-filter: none;
      background-color: transparent;
      border-radius: unset;
      padding: unset;
      justify-content: flex-start;
      min-height: unset;
      .header-texts {
        margin-top: 117px;
        margin-bottom: 51px;
      }
    }

    &_container {
      form {
        min-width: 264px;
        width: calc(100% - 57px);
      }
    }

    .slider-icons {
      margin-top: 34px;
      margin-bottom: 51px;
    }
  }
  .navigation_buttons_container {
    margin-bottom: 0;
  }
}
