@import "commonElements";
@import "startPage";
@import "chooseImage";
@import "personalInfo";
@import "location";
@import "socialNetworks";
@import "contactInfo";
@import "cardStyle";
@import "previewCard";
@import "finalPage";
@import "iframe";
@import "cardView";

.navigation_buttons_container {
  width: 100%;
}

.start-page_mobile_button {
  padding: 0 50px;
}

.btn-container {
  padding: 0 35px;
}

.btn-container,
.start-page_mobile_button {
  --btnContainerDirection: column-reverse;
  --btnContainerBackMarginTop: 12px;
  --btnContainerBackMarginRight: 0;
  --btnContainerBackBorder: none;
  --btnContainerBackSize: inherit;
  --btnContainerBackTextDisplay: inline;
  --btnContainerBackTextFontSize: 24px;
  display: flex;
  align-items: stretch;
  flex-direction: var(--btnContainerDirection);
  max-width: 410px;
  width: 100%;
  flex: none;

  .btnBack {
    flex: none;
    width: var(--btnContainerBackSize);
    margin-top: var(--btnContainerBackMarginTop);
    margin-right: var(--btnContainerBackMarginRight);
    border: var(--btnContainerBackBorder);
    border-radius: 9px;
    font-size: var(--btnContainerBackTextFontSize);

    span {
      padding-left: 8px;
      display: var(--btnContainerBackTextDisplay);
      text-decoration: un;
    }
  }
}

button.btnNext {
  @include button(
    $direction: 71deg,
    $list: $list1,
    $buttonColor: #ffffff,
    $fontSize: $bigTextSize,
    $buttonBorderRadius: 10px,
    $padding: 16px 10px
  );
  @media screen and (min-width: 400px) and (max-width: 1024px) {
    padding: 22px 10px !important;
  }

  transition: all 0.2s;
  font-family: "ProximaNovaSemibold", serif;

  &.disabled {
    cursor: not-allowed;
    background: #444f52;
    color: rgba(255, 255, 255, 0.55);
  }

  &.final-pageBtn {
    width: 206px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
  }
  &:not(.disabled):active,
  &:not(.disabled):focus-visible,
  &:not(.disabled):focus-within,
  &:not(.disabled):checked,
  &:not(.disabled):focus {
    cursor: pointer;
    border-radius: 40px;
    background: linear-gradient(71deg, #1e2c89 -40%, #1e2c89 140%);
  }
  @media screen and (min-width: 1024px) {
    padding: 22px 10px;
    transition: all 0.2s;
    font-family: ProximaNova, sans-serif;
    &:not(.disabled):not(:active):hover {
      cursor: pointer;
      border-radius: 40px;
      background: linear-gradient(71deg, #3e55ee -40%, #3e55ee 140%);
    }
  }
}

button.btnNext.final-pageBtn.web.copied {
  width: 312px;
  height: 50px;
  background: #1e2c89;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 40px;
  opacity: 1;
  cursor: not-allowed;
}

button.btnGreen {
  @include button(
    $buttonColor: #ffffff,
    $fontSize: 20px,
    $buttonBorderRadius: 10px,
    $padding: 17px 47px 17px 48px
  );
  transition: all 0.1s linear;
  background-color: #0dbaad;

  @media only screen and (min-width: 1024px) {
    &.active:hover {
      background-image: none;
      background-color: #ffffff;
      color: #0dbaad;
    }
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}

button.btnBack {
  @include button($buttonColor: #ffffff, $fontSize: 23px);
  @media screen and (min-width: 400px) and (max-width: 1024px) {
    padding: 20px 10px;
    width: 68px !important;
    .icon-arrow-left {
      font-size: large;
    }
  }
  @media screen and (min-width: 1024px) {
    transition: all 0.1s;
    span {
      text-decoration: underline;
    }
    &:not(.disabled):hover {
      color: #d8253e;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .btn-container,
  .start-page_mobile_button {
    --btnContainerDirection: row;
    --btnContainerBackMarginTop: 0;
    --btnContainerBackMarginRight: 12px;
    --btnContainerBackBorder: 1px solid #ffffff;
    --btnContainerBackSize: 56px;
    --btnContainerBackTextDisplay: none;
    --btnContainerBackTextFontSize: 16px;
    box-sizing: border-box;
  }

  .fizz-logo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 78px;
    height: 42px;
    background-size: 95%;
    z-index: 2;
    background-image: url("#{$globalPngPath}Fizzcard-Logo-Mobile.png");
  }
}

.desktopView {
  display: block;
  position: relative;
  width: 121px;
  height: 102px;
  background-size: contain;
  margin-bottom: 30px;
  min-height: 11.6vh;
  margin-top: 3.3vh;
  @media only screen and (max-width: 1023px) {
    display: none;
  }
}
