.main-container {
  &.final-page {
    background-color: #090822;
    overflow: hidden;
    min-height: calc(var(--vh, 1vh) * 100);

    &:after {
      padding-top: 33.854%;
      z-index: -1;
      content: unset;
    }
  }

  z-index: 1;
}

.final-page {
  padding: 0 3.3vw 0 0;
  @extend %flexCenterSpace-between;

  .left-container {
    position: relative;
    margin-bottom: auto;
    margin-top: 64px;
    width: 100%;
    height: 100%;
    margin-right: 2vw;

    iframe {
      border: 2px solid transparent;
      border-radius: 34px;
    }
  }

  .content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .final-page_container {
      margin-left: -2vw;
    }
  }

  .fizz-logo {
    width: 12.8vh;
    height: 10.7vh;
    background-size: cover;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }

  .bottom-text {
    cursor: pointer;
    font-size: 2.1vh;
    text-align: center;
    text-decoration: underline;
  }

  .mobile {
    display: none;
    visibility: hidden;
  }

  &_container {
    @extend %flexCenterCenter;
    background-color: rgba(9, 44, 110, 0.24);
    border-radius: 39px;
    padding: 8.4vh 8.8vh;
    width: 61.5vw;
  }

  &_left {
    text-align: center;

    @media only screen and (max-width: 1680px) {
      margin-left: 3%;
    }

    &_qr {
      @include square(221px);
      @extend %flexCenterCenter;
      background-color: #ffffff;
      border-radius: 15px;
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
      margin: 0 auto 30px;
      overflow: hidden;
    }

    &_text {
      font-size: 20px;
      line-height: 24px;
      max-width: 600px;

      span:first-of-type {
        font-family: ProximaNovaBold, sans-serif;
      }
    }
  }

  &_middle {
    margin: 0 3.385vw;
    padding: 0 1.125vw;
    position: relative;

    &:after,
    &:before {
      content: "";
      position: absolute;
      border-left: 1px solid #ffffff;
      height: 88px;
    }

    &:before {
      top: -110px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    &:after {
      bottom: -110px;
      right: 50%;
      transform: translate3d(50%, 0, 0);
    }

    .web {
      font-family: ProximaNovaBold, sans-serif;
      font-size: 32px;
      line-height: 40px;
      text-transform: uppercase;
    }
  }

  &_title {
    font-family: Pallistha, sans-serif;
    font-size: 12.5vw;
    letter-spacing: -6px;
    line-height: 0.7;
    text-align: center;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.19);
    margin-bottom: 5.7vh;
  }

  &_right {
    text-align: center;
    max-width: 384px;
    width: 100%;

    &_text {
      font-size: 26px;
      line-height: 1.3;
      font-family: ProximaNovaBold, sans-serif;
    }

    &_link {
      width: 100%;

      input {
        padding: 0 33px;
        text-overflow: ellipsis;
        background-color: #ffffff;
        border: none;
        border-radius: 9px;
        color: rgba(0, 69, 163, 0.78);
        cursor: pointer;
        font-size: 22px;
        font-family: ProximaNovaBold, sans-serif;
        height: 53px;
        line-height: 1;
        margin-top: 40.5px;
        margin-bottom: 47px;
        text-align: center;
        text-decoration: underline;
        width: 100%;
      }
    }

    &_button {
      button.btnRed {
        cursor: pointer;
        font-family: ProximaNovaSemibold, sans-serif;
        font-weight: 600;

        &.web {
          background-color: #e3323e;
          border: none;
          border-radius: 43px;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          min-height: 57px;
          min-width: 206px;
          transition: all 0.2s;

          &:hover {
            background-color: #ffffff;
            color: #e3323e;
          }
        }
      }
    }
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 1680px) {
  .final-page {
    padding-left: 3vw;
    padding-right: 2vw;

    &_right {
      margin-right: 2vw;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .final-page {
    &_container {
      padding: 3%;
    }

    &_middle {
      margin: 0 4%;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .final-page {
    padding: 0;
    z-index: 1;

    &.mobile {
      //background-image: url($globalBgPath + "final-page-mobile_bg@2x.jpg");
      //background-position: 54.5% -75px;
      //background-size: 412%;
      height: calc(var(--vh, 1vh) * 100);

      &:after {
        content: unset;
      }

      .left-container {
        display: none;
      }

      .content-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: auto;
        //margin-top: 10vh;

        .final-page_title {
          display: none;
        }

        .final-page_container {
          background-color: transparent;
          order: 2;
          min-width: 277px;

          .final-page_middle {
            display: none;
          }

          .final-page_right {
            margin-right: 0;

            .final-page_right_link {
              display: none;
            }
          }
        }

        .bottom-text {
          display: none;
        }
      }
    }

    .fizz-logo {
      margin-top: 0;
      margin-bottom: 30px;
      width: 65px;
      height: 55px;
      order: 1;
    }

    .bottom-text {
      font-size: 14px;
    }

    .web {
      display: none;
      visibility: hidden;
    }

    .mobile {
      display: block;
      visibility: visible;
    }

    &_title {
      font-size: 121px;
      letter-spacing: normal;
      margin-bottom: -15px;
    }

    &_container {
      flex-direction: column;
    }

    &_left {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &_qr {
        @include square(216px);
        border-radius: 25px;
        margin-bottom: 40px;
        order: 2;
      }

      &_text {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 30px;
        max-width: 270px;
        order: 1;
      }
    }

    &_middle {
      &:after,
      &:before {
        height: 1px;
        width: 35px;
        border-left: unset;
        border-bottom: 1px solid #ffffff;
      }

      &:before {
        left: 0;
        top: 50%;
        transform: translate3d(-48px, -50%, 0);
      }

      &:after {
        right: 0;
        bottom: 50%;
        transform: translate3d(48px, 50%, 0);
      }
    }

    &_right {
      &_link {
        input {
          border-radius: 4px;
          color: rgba(0, 0, 0, 0.78);
          font-size: 15px;
          height: unset;
          line-height: 17px;
          margin-top: 28.5px;
          margin-bottom: 30px;
          max-width: 303px;
          padding: 17.5px 32px 12.5px 35px;
          text-decoration: none;
        }
      }

      &_button {
        display: flex;
        justify-content: center;
      }
    }

    &.main-container {
      margin-bottom: 0;

      &:after {
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 50%,
          rgba(0, 0, 0, 1) 100%
        );
        z-index: -1;
      }
    }
  }
}
