.main-container.location {
  .desktopView.fizz-logo {
    margin-bottom: 40px;
    margin-top: 35px;
  }
  .location_container.inner-container {
    .header-texts {
      margin-bottom: 80px;
    }

    form {
      .form-group-wrapper_select-container > :last-child {
        &:active,
        &:focus {
          border-color: #4affce;
          border-width: 1px;
        }
      }

      .form-group-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;

        > :first-child {
          min-width: 259px;
        }

        &_select-container {
          width: 100%;
          position: relative;
          display: flex;
          height: 65px;

          > :first-child {
            width: 100%;
          }

          > :last-child {
            width: 100%;
            margin-left: 20px;
            height: 65px;
            background: transparent;
            border: 1px solid #969ab2;
            padding-left: 30px;
            font-size: 2.1vh;
            letter-spacing: 0.44px;
            border-radius: 8px;
            color: #bbbbc1;
            transition: all 0.2s;
          }
          select:hover,
          select:focus,
          select:active + .arrow-dropdown {
          }
          &:hover,
          &:focus,
          &:active {
            select {
              cursor: pointer;
              border-color: #4affce;
            }
            .arrow-dropdown {
              background-color: #4affce;
            }
          }
        }

        .arrow-dropdown {
          position: absolute;
          pointer-events: none;
          right: 15px;
          width: 29px;
          height: 29px;
          background: #be3b94;
          text-align: center;
          line-height: 29px;
          border-radius: 50%;
          transform: translateY(-50%);
          top: 50%;
          cursor: pointer;
          transition: all 0.2s;
          i {
            color: #0d0b24;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main-container.location {
    padding-top: 0;
    .location_container.inner-container {
      background: unset;
      min-height: unset;
      padding-top: 0;
      padding-bottom: 0;
      .header-texts {
        margin-bottom: 75px;
        margin-top: 70px;
      }
    }

    .location_container.inner-container {
      backdrop-filter: unset;

      form {
        max-width: calc(100% - 54px);

        .form-group-wrapper {
          display: flex;
          justify-content: space-between;
          position: relative;

          > :first-child {
            min-width: unset;
            width: 100%;
          }

          &_select-container {
            backdrop-filter: blur(5px);
            display: flex;
            position: relative;
            height: 100%;
            width: 60%;
            margin-bottom: 18px;

            > :first-child {
              width: 100%;
            }

            > :last-child {
              width: 100%;
              height: 100%;
              margin-left: 12px;
              background: transparent;
              border: 1px solid rgba(255, 255, 255, 0.45);
              padding: 19px 37px 18px 12px;
              color: #bbbbc1;
              font-size: 14px;
              @media screen and (max-width: 400px) {
                padding: 16px 37px 16px 12px;
                font-size: 14px;
              }
            }
          }

          select {
            option {
              color: black;
            }
          }

          .arrow-dropdown {
            display: flex;
            justify-content: center;
            z-index: 1;
            align-items: center;
            top: 14px;
            right: 10px;
            transform: unset;
            pointer-events: none;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            width: 23px;
            height: 23px;
            background: #be3b94;
            opacity: 1;
            border-radius: 23px;

            i {
              color: #000000;
            }
          }
        }
      }

      .slider-icons {
        margin-top: 34px;
        margin-bottom: 51px;
        @media screen and (max-width: 400px) {
          margin-top: 17px;
          margin-bottom: 34px;
        }
      }

      .navigation_buttons_container {
        margin-bottom: 0;
      }
    }
  }
}
