.personal-info.main-container {
  padding: 2.7vh 0;

  .page_container_title {
    font-size: 4.7vh;
  }

  .error-message {
    top: -3.2vh;
    font-size: 2.1vh;
  }

  .header-texts {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 1023px) {
  .personal-info.main-container {
    padding: 0;

    .inner-container {
      backdrop-filter: none;
      background-color: transparent;
      border-radius: unset;
      padding: unset;
      min-height: unset;
    }
    .header-texts {
      margin-top: 96px;
      margin-bottom: 48px;
      .page_container_title {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.6px;
        color: #f0edf7;
      }

      .page_container_text {
        margin: 0 auto;
        max-width: 272px;
        font-size: 2vh;
        color: #c7c7cd;
        font: normal normal 20px/24px ProximaNova;
        font-weight: normal;
      }
    }

    .slider-icons {
      margin-top: 34px;
      margin-bottom: 51px;
      @media screen and (max-width: 400px) {
        margin-top: 33px;
        margin-bottom: 33px;
      }
      .error-message {
        top: -32px;
      }
    }

    form.personal {
      max-width: calc(100% - 54px);
    }
  }
}
