.main-container {
  &:after {
    padding-top: 18.23%;
  }
}

.preview-card {
  @extend %flexCenterSpace-between;
  width: 100%;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    &:after {
      content: unset;
    }
    min-height: calc(var(--vh, 1vh) * 100);
    .fizz-logo {
      position: absolute;
      width: 115px;
      height: 97px;
      padding: 0;
      left: 40px;
      top: 37px;
      display: block !important;
    }

    padding: 0 !important;

    .card-container {
      transform: scale(1.25);
      pointer-events: none;
    }
  }
  .fizz-logo {
    display: none;
  }
  .mobile {
    display: none;
    visibility: hidden;
  }
  .button-container .btnNext {
    padding: 18px 10px;
    font-size: 20px;
  }
  &_left-side,
  &_right-side {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2;
  }

  &_left-side {
    justify-content: flex-end;
    text-align: center;

    iframe {
      border: none;
      border-radius: 15px;
    }

    .scale-container {
      transform: scale(1.17);
      @media only screen and (max-height: 1000px) {
        transform: scale(1);
      }
    }

    &.center {
      justify-content: center;
      width: 100%;
    }

    .card-container_frame:hover {
      transform: none;
    }

    .card-design {
      @include backgroundImage();
      border-radius: 15px;
      height: 87.96vh;
      overflow: hidden;
      width: 46.8%;
    }
  }

  &_right-side {
    display: none !important;
    justify-content: flex-start;

    .blurred-container {
      @extend %flexColumnSpace-between;
      background-color: rgba(0, 0, 0, 0.84);
      backdrop-filter: blur(3px);
      border: 1px solid #ffffff;
      border-radius: 25px;
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.84);
      padding: 7.23%;
      width: 610px;
    }

    .fizz-logo {
      margin-bottom: 73px;
      padding-top: 115px;
      width: 136px;
    }
  }

  .pallistha-title {
    color: #ffffff;
    font-family: Pallistha, sans-serif;
    font-size: 162px;
    height: 162px;
    line-height: 0.5;
    margin-bottom: 3px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.19);
    white-space: nowrap;
  }

  .button-container {
    @extend %flexCenterSpace-between;
    margin-bottom: 70px;
    min-width: 320px;
    padding: 0 20px;
    @media screen and (max-width: 1023px) {
      margin-bottom: 20px;
      min-width: 380px;
    }
    button {
      cursor: pointer;
    }

    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
      min-width: 380px;
      width: 100%;
      justify-content: center;
      height: 131px;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
      button {
        max-width: 170px;
        &.btnGreen {
          background: #0000006e;
          border: 1px solid #ffffffb2;
          border-radius: 10px;
          opacity: 1;
          &:hover {
            background: #ffffff;
            border-radius: 28px;
            opacity: 1;
            color: black;
          }
        }
      }
    }

    .btnGreen {
      font-weight: 600;
      margin-left: 15px;
      @media screen and (max-width: 1024px) {
        padding: 15px 10px;
      }
      @media screen and (min-width: 400px) and (max-width: 1024px) {
        padding: 21px 10px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .preview-card {
    &_left-side {
      .card-design {
        width: 47.26%;
        max-height: 712.5px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .preview-card {
    &_left-side {
      .card-design {
        width: 50%;
        height: 70vh;
        min-width: 300px;
        min-height: 647px;
      }
    }

    &_right-side {
      .blurred-container {
        padding: 5%;
        margin-right: 40px;

        .pallistha-title {
          font-size: 120px;
        }

        .button-container {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  app-preview {
    height: 100%;
  }
  .preview-card {
    display: block;
    text-align: center;
    z-index: 1;
    &.main-container {
      height: calc(
        100vh - 14vh + (env(safe-area-inset-bottom) + env(safe-area-inset-top))
      );

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:after {
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 50%,
          rgba(0, 0, 0, 1) 100%
        );
        z-index: -1;
        content: unset;
      }
    }

    &_right-side {
      display: none;
      visibility: hidden;
    }

    &_left-side {
      justify-content: center;
      width: 100%;
      max-height: 69.5vh;
      overflow: hidden;

      iframe {
        border: none;
        border-radius: 10px;
      }

      .scale-container {
        transform: scale(1);
      }

      .card-design {
        border: 1px solid #ffffff;
        height: 479px;
        min-width: unset;
        min-height: unset;
        width: 221px;
      }
    }

    .mobile {
      display: block;
      visibility: visible;

      &.fizz-logo {
        width: 6vh;
        background-size: contain;
        height: 5vh;
        position: absolute;
        left: 13px;
        top: 10px;
        min-height: 28px;
      }

      &.pallistha-title {
        font-size: 92px;
        margin: 0;
      }

      &.button-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 43px 0 0;
        min-width: 245px;

        button {
          padding: 0;
          font-size: 14px;
          min-width: 17vh;
          min-height: 5.9vh;
          max-width: 170px;

          &.btnGreen {
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .preview-card {
    button.btnGreen {
      background: #0000006e;
      border: 1px solid #ffffffb2;
      border-radius: 10px;
      opacity: 1;
      &:hover {
        background: #ffffff;
        opacity: 1;
        color: black;
      }
    }
    &_left-side {
      .card-component-container {
        display: contents;

        .scale-container {
          transform: scale3d(1.57, 1.56, 1);
        }
      }
    }

    .mobile {
      &.pallistha-title {
        display: none;
        align-items: center;
        font-size: 11.7vh;
        height: 88px;
      }
    }
  }
}
