.social-networks {
  padding: 2.6vh 0;
  @media screen and (max-width: 1023px) {
    padding: 0;
  }
  .social-networks-footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    bottom: 0;
    top: calc(100% - 288.5px);
  }

  .add-social {
    display: flex;
    align-items: center;
    padding: 3.6vh 0 0;

    .icon-arrow-circle-down {
      font-size: 23px;
      padding-right: 15px;
    }
  }

  .inner-container {
    .desktopView {
      margin-bottom: 20px;
    }
  }

  .header-texts {
    .page_container_text {
      max-width: 300px;
      @media screen and (min-width: 1024px) {
        max-width: inherit;
        margin-bottom: 55px;
      }
    }
  }

  form {
    @extend %flexCenterSpace-between;
    flex-flow: row wrap;
    padding: 0 10.06%;
    position: relative;
    max-width: 100%;
    flex-flow: row wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 34.7vh;
    min-height: 300px;

    .add-social {
      bottom: 14px;
      cursor: pointer;
      font-size: 23px;
      font-weight: bold;
      line-height: 1;
      position: absolute;
      right: 10.06%;
    }

    .social-networks-filed-error {
      border-color: #ff3e53;
    }

    input {
      background-color: unset;
      border: none;
      border-bottom: 1px solid;
      border-radius: unset;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 15px;
      height: unset;
      min-height: 46px;
      line-height: 29px;
      font-size: 2.1vh;

      &:hover,
      &:focus {
        border-color: #4affce;
        border-width: 2px;
      }
    }

    .form-group {
      position: relative;
      width: 402px;
      margin-bottom: 3.2vh;

      .icon-info {
        &:before {
          opacity: 1;
          transition: opacity 0.15s;
        }

        span {
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 5px;
          color: rgba(0, 0, 0, 0.5);
          font-family: ProximaNova, serif;
          font-size: 11px;
          overflow: hidden;
          position: absolute;
          height: 30px;
          text-align: center;
          width: 230px;
          white-space: nowrap;
          z-index: 10;
          opacity: 0;
          right: 0;
          left: 0;
          top: 0;
          transform: scaleX(0) translateX(-45%);
          transition: all 0.15s;
          transform-origin: left;
          padding: 9px;
        }

        &:hover {
          &:before {
            opacity: 0;
          }

          span {
            transform: scaleX(1) translateX(-89%);
            opacity: 1;
          }
        }
      }
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

    .icon-info {
      color: rgba(255, 255, 255, 0.75);
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .social-networks.main-container {
    .inner-container {
      max-width: 980px;
    }

    form {
      padding: 0 5%;

      .form-group {
        .icon-info {
          span {
            transform: scaleX(0) translateX(-75%);
          }

          &:hover {
            span {
              transform: scaleX(1) translateX(-75%);
            }
          }
        }
      }

      .add-social {
        right: 5%;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .main-container.social-networks {
    .social-networks-footer {
      top: calc(100% - 300px);
      margin-top: auto;
    }

    .inner-container {
      backdrop-filter: none;
      background-color: transparent;
      border-radius: unset;
      padding: unset;
      min-height: unset;
      justify-content: flex-start;
    }
    .header-texts {
      margin-bottom: 20px;
      margin-top: 56px;

      .page_container_title {
        margin-bottom: 1.3vh;
        font-size: 3.56vh;
        letter-spacing: 0.6px;
      }

      .page_container_text {
        font-size: 2.1vh;
        text-transform: capitalize;
      }
    }

    .form-container {
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: 0;
      min-width: 245px;
      width: 60%;
      max-height: 39vh;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 2vh 0 2vh;

      form {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 0;
        min-width: 245px;
        height: 100%;
        overflow-y: unset;
        overflow-x: unset;

        .form-group {
          margin-bottom: 4.7vh;
          width: 100%;

          input {
            font-size: 14px;
            line-height: 1;
            min-height: 29px;
            padding-bottom: 10px;
          }

          .icon-info {
            font-size: 17px;
            padding: 10px;
            top: -10px;
            right: -10px;

            span {
              top: 10px;
              height: 17px;
              font-size: 9px;
              padding: 4px;
              width: 180px;
              transform: scaleX(0) translateX(calc(-100% + 30px));
            }

            &:hover {
              span {
                transform: scaleX(1) translateX(calc(-100% + 30px));
              }
            }
          }
        }

        .form-group:last-child {
          margin-bottom: 0;
        }

        .add-social {
          bottom: 27px;
          font-size: 14px;
          right: 0;
        }
      }
    }

    .social-networks-footer {
      .add-social {
        padding: 40px 0 30px;
        font-size: 18px;

        .icon-arrow-circle-down {
          font-size: 18px;
          &:before {
            font-size: 23px;
          }
        }
      }
    }

    .slider-icons {
      margin-top: 1.5vh;
      margin-bottom: 40px;
    }
  }
}
