app-start-page,
app-social-network,
app-final-page,
app-preview,
app-personal-info,
app-contact-info,
app-choose-image,
app-card-style,
app-location {
  display: block;
  height: 100%;
}
app-card-create {
  width: 100%;
  height: 100%;
}

.location {
  padding: 2.7vh 0;
  @media screen and (max-width: 1023px) {
    padding: 0;
  }
}
.start-page {
  position: relative;
  width: 100%;
  background-color: #00042e;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: auto;
  &:after {
    content: unset;
  }
  &_mobile {
    display: none;
    visibility: hidden;

    .card-frame {
      @include backgroundImage();
      background-size: 103%;
    }
  }

  &.creative_bg,
  &.minimalist_bg,
  &.modern_bg {
    @include backgroundImage();
  }

  .fizz-logo {
    background-size: contain;
    position: absolute;
    margin-left: 5%;
    margin-top: 4%;
    width: 16%;
    height: 11%;
  }

  &_body {
    @extend %flexCenterSpace-between;
    backdrop-filter: blur(25px);
    padding: $bigHorizontalMargin 3.75% $bigHorizontalMargin 5.42%;
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1024px;
    margin: auto;

    .carousel {
      flex: 1;
      max-width: $carouselMaxWidth;

      &_item {
        @include backgroundImage();
        max-width: $carouselElementWidth;
        width: 29.85%;
        padding-top: 55.64%;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background: #00042e66;
    flex-basis: 44.1%;

    &_title {
      font-family: Pallistha, sans-serif;
      letter-spacing: -4.63px;
      line-height: 1.037;
      text-shadow: 0 10px 40px rgb(0 49 30 / 30%);
      width: 100%;
      margin: auto auto 30px !important;
      text-indent: -10px;
      font-size: calc(9vw + 5vh);
      padding: 0 12%;
    }

    &_text {
      margin: 0 auto var(--largeBottomMargin);
      -webkit-margin-before: var(--largeTopMargin);
      font-family: ProximaNova, sans-serif;
      color: #dce0eb;
      font-size: calc(1.3vh + 1.14375vw);
      line-height: 1.2;
      padding: 0 15% 0 12%;
      .bolder {
        font-family: ProximaNovaBold, sans-serif;
      }
    }

    &_button {
      max-width: 354px;
      height: 7.5%;
      margin-left: 12%;
      margin-bottom: auto;
      width: 42%;
      padding: 0;
      .btnNext {
        padding: 0;
        height: 100%;
      }
    }
  }
}

.carousel {
  width: 100%;
  height: 100%;
  flex: 1;

  &_list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &_item {
    @extend %flexCenterCenter;
    color: #fff;
    font-size: 0;
    border-radius: 15px;
    box-shadow: 0 3px 25px rgb(0 0 0 / 50%);
    position: absolute;
    transition: transform 0.3s ease-in;
    will-change: transform;
    perspective: 1px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: high-quality;
    background-size: cover;
    width: 19vh;
    height: 41.14vh;

    &[data-pos="0"] {
      z-index: 5;
    }

    &[data-pos="-1"],
    &[data-pos="1"] {
      opacity: 1;
      z-index: 4;
    }

    &[data-pos="0"] {
      transform: translate(0, 60%) scale(1.8276);
    }

    &[data-pos="-1"] {
      transform: translate(-165%, 60%) scale(1.15015);
    }

    &[data-pos="1"] {
      transform: translate(165%, 60%) scale(1.15015);
    }
  }
}

.carousel-handlers {
  @extend %flexCenterSpace-between;
  position: absolute;
  z-index: 6;
  bottom: 4%;
  justify-content: space-around;

  > div:first-child,
  > div:last-child {
    padding: 0 20px;
  }

  .icon-chevron-left,
  .icon-chevron-right {
    @include square(var(--carouselHandlerSize));
    border-radius: 63px;
    background-color: #3c56f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .slider {
    &_elements {
      @extend %flexCenterSpace-between;
    }

    &_element {
      @include square($sliderElementSize);
      border-radius: 19px;
      border: 1px solid #ffffff;
      background-color: #ffffff;
      opacity: 0.5;
      transition: opacity 0.3s;

      &:not(:last-child) {
        margin-right: $carouselHandlerMargin;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .start-page {
    display: none;
    visibility: hidden;

    &_mobile {
      align-items: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: calc(var(--vh, 1vh) * 100);
      position: relative;
      visibility: visible;
      width: 100%;
      z-index: 1;
      padding-bottom: calc(env(safe-area-inset-bottom));
      padding-top: calc(env(safe-area-inset-top));

      &:after {
        content: "";
        bottom: 0;
        display: block;
        left: 0;
        padding-top: 100vh;
        position: absolute;
        width: 100%;
        z-index: -1;
        mix-blend-mode: multiply;
      }

      .right-swiper,
      .left-swiper {
        background-color: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(25px);
        position: absolute;
        top: 38.177%;
        width: 43px;
        z-index: 2;

        i {
          font-size: 24px;
        }
      }

      .right-swiper {
        border-radius: 12px 0 0 12px;
        padding: 22px 10px 22px 18px;
        right: 0;
        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 10%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      .left-swiper {
        border-radius: 0 12px 12px 0;
        padding: 22px 18px 22px 10px;
        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
        left: 0;
      }

      .left-swiper,
      .right-swiper {
        backdrop-filter: blur(25px);

        &.disable {
          display: none;
        }
      }

      .sliderBlock {
        --modernCardTransform: translateX(55%) scale(0.75);
        --modernCardZIndex: 2;

        --creativeCardTransform: translateX(55%) scale(0.75);
        --creativeCardZIndex: 3;

        --minimalistCardTransform: translateX(55%) scale(0.75);
        --minimalistCardZIndex: 2;

        position: relative;
        height: 53vh;
        max-width: 46vh;
        width: 100%;
        margin-top: auto;
        @media screen and (max-width: 400px) {
          height: 55vh;
          margin-top: auto;
        }

        &.modern {
          --modernCardTransform: translateX(20%) scale(1);
          --modernCardZIndex: 6;
          --creativeCardTransform: translateX(74%) scale(0.71);
          --creativeCardZIndex: 3;
          --minimalistCardTransform: translateX(91%) scale(0.55);
          --minimalistCardZIndex: 2;
        }

        &.creative {
          --modernCardTransform: translateX(5%) scale(0.71);
          --modernCardZIndex: 3;
          --creativeCardTransform: translateX(55%) scale(1);
          --creativeCardZIndex: 4;
          --minimalistCardTransform: translateX(100%) scale(0.71);
          --minimalistCardZIndex: 3;
        }

        &.minimalist {
          --modernCardTransform: translateX(19%) scale(0.55);
          --modernCardZIndex: 3;
          --creativeCardTransform: translateX(34%) scale(0.75);
          --creativeCardZIndex: 5;
          --minimalistCardTransform: translateX(87%) scale(1);
          --minimalistCardZIndex: 8;
        }

        .card-frame {
          border-radius: 10px;
          width: 22vh;
          height: 48vh;
          position: absolute;
          top: 7.5vh;
          z-index: 1;
          transition: all 0.2s;
        }

        .modern-card-mobile {
          transform: var(--modernCardTransform);
          z-index: var(--modernCardZIndex);
          transform-origin: left center;
        }

        .creative-card-mobile {
          transform: var(--creativeCardTransform);
          z-index: var(--creativeCardZIndex);
          transform-origin: center;
        }

        .minimalist-card-mobile {
          transform: var(--minimalistCardTransform);
          z-index: var(--minimalistCardZIndex);
          transform-origin: right center;
        }
      }

      .slider {
        &_elements {
          display: flex;
          margin: 2vh 0;
        }

        &_element {
          width: 10px;
          height: 10px;
          border-radius: 10px;
          border: 1px solid #ffffff;
          background-color: rgba(255, 255, 255, 0.5);

          &:not(:last-child) {
            margin-right: 12px;
          }

          &.active {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }

      &_text {
        text-align: left;
        font-size: calc(8px + 1.9vh);
        line-height: calc(8px + 1.9vh);
        padding-left: 40px;
        padding-right: 40px;
        max-width: 400px;
        margin: 40px auto 30px;
        display: flex;
        flex-direction: column;
        .bolder {
          font-family: ProximaNovaSemibold, serif;
          margin-bottom: 2px;
          font-size: 24px;
          line-height: 28px;
        }

        .subText {
          font-size: 20px;
          line-height: 24px;
          color: #c7c7cd;
          opacity: 1;
        }
      }

      &_button {
        margin-top: auto;
        margin-bottom: 4vh;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .start-page_mobile {
    background-size: cover;
    height: calc(var(--vh, 1vh) * 100);
  }
}
@media screen and (max-width: 400px) {
  form input[type="text"],
  form input[type="url"],
  form input[type="tel"],
  form input[type="email"] {
    height: 50px;
    margin-bottom: 13px;
  }
  .page_container_title {
    margin-bottom: 0 !important;
    font-size: 22px !important;
    line-height: 1;
  }
  .page_container_text {
    font-size: 16px !important;
    line-height: 20px;
  }
  .start-page_mobile_text {
    margin: 20px auto 9px !important;
    .bolder {
      font-size: 18px;
      font-family: ProximaNova, sans-serif;
      margin-bottom: 0;
      line-height: 22px;
    }
    .subText {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .choose-image_container .image-container .icon-user-circle {
    font-size: 173px !important;
  }
  .image-container {
    .avatar {
      width: 167px !important;
      height: 173px !important;
    }
  }
  .choose-image_container .image-container {
    margin-bottom: 33px !important;
  }
  .choose-image_container {
    .page_container_title {
      margin-bottom: 1.3vh;
      font-size: 22px !important;
    }
    .page_container_text {
      margin: 0 auto 3.9vh;
      font-size: 18px !important;
    }
    .slider-icons {
      margin-top: 36px !important;
      margin-bottom: 36px !important;
    }
  }
  .personal-info {
    .fizz-logo {
      width: 57px !important;
      height: 30px !important;
      left: 15px !important;
      top: 8px !important;
    }
  }
  .personal-info_container {
    .header-texts {
      margin-top: 56px !important;
      margin-bottom: 23px !important;
    }
    .personal-info.main-container .slider-icons {
      margin-top: 20px;
      margin-bottom: 34px;
    }
    .btn-container {
      margin-bottom: 36px;
    }
  }
  .location {
    .fizz-logo {
      width: 57px !important;
      height: 30px !important;
      left: 15px !important;
      top: 8px !important;
    }
    .location_container.inner-container .header-texts {
      margin-bottom: 34px !important;
      margin-top: 70px !important;
    }
    .btn-container {
      margin-bottom: 34px;
    }
  }
  .contact-info {
    .fizz-logo {
      width: 57px !important;
      height: 30px !important;
      left: 15px !important;
      top: 8px !important;
    }
  }
  .contact-info_container {
    .header-texts {
      margin-top: 80px !important;
      margin-bottom: 57px !important;
    }
  }
  .main-container.social-networks .form-container {
    max-height: 45vh !important;
  }
  .social-networks {
    .fizz-logo {
      width: 57px !important;
      height: 30px !important;
      left: 15px !important;
      top: 8px !important;
    }
  }
}
