<div class="social-networks main-container mobile">
  <div class="fizz-logo"></div>

  <div class="social-networks_container inner-container">
    <div class="fizz-logo desktopView"></div>

    <div class="header-texts">
      <div class="page_container_title">
        Social Network
      </div>
      <div class="page_container_text">
        Add your social media network!
      </div>
    </div>

    <div class="form-container">
      <form [formGroup]="networksInfoForm">
        <div class="form-group" *ngFor="let social of socialNetworks" #socialElements>
          <input class="form-control" [formControlName]="social"
                 [ngClass]="(networksInfoForm.get(social).invalid &&
                                     networksInfoForm.get(social).dirty &&
                                     networksInfoForm.get(social).touched) ? 'social-networks-filed-error' : null"
                 [placeholder]="social === 'linkedin' ? 'linkedIn' : social === 'soundcloud' ? 'soundCloud' : social"
                 type="text"
                 autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
          <div class="error-message"
               *ngIf="networksInfoForm.get(social).invalid &&
                    networksInfoForm.get(social).dirty &&
                    networksInfoForm.get(social).touched">
            {{social | titlecase}} url is not valid !
          </div>
          <div class="icon-info">
            <span>Copy and paste your user {{social | titlecase}} URL</span>
          </div>
        </div>

      </form>
    </div>
    <div class="social-networks-footer">
      <div class="add-social">
        <i class="icon-arrow-circle-down" (click)="scroll()"></i>
        Scroll to add more.
      </div>
      <div class="slider-icons">
        <div class="slider-icon"></div>
        <div class="slider-icon"></div>
        <div class="slider-icon"></div>
        <div class="slider-icon"></div>
        <div class="slider-icon active"></div>
        <div class="slider-icon"></div>
      </div>
      <div class="navigation_buttons_container">
        <div class="btn-container">
          <button class="btnBack" routerLink="/card-create/contact-info">
            <i class="icon-arrow-left"></i>
            <span>Back</span>
          </button>


          <button class="btnNext active"
                  [disabled]="!networksInfoForm.valid"
                  [ngClass]="networksInfoForm.valid ? 'active' : 'disabled'"
                  (click)="submitData()">Design Your Card
          </button>
        </div>

      </div>
    </div>


  </div>
</div>
