<div class="final-page main-container mobile">
  <div class="left-container" #cardParent>
    <app-card-demo
      *ngIf="restService.user"
      [disabledEvent]="false"
      [card]="userService.cardType"
      [userName]="userName"
      [iframeScale]="iframeScale"
      [width]="415"
      [height]="722"
    ></app-card-demo>
  </div>

  <div class="content-container">
    <div class="final-page_title">Share Now!</div>

    <div class="final-page_container">
      <div class="final-page_left">
        <div class="final-page_left_qr" (click)="onShare()">
          <app-qr></app-qr>
        </div>
        <div class="final-page_left_text">
          <span>Scan QR</span>
          <span>
            code with phone camera to view your digital business card!</span
          >
        </div>
      </div>

      <div class="final-page_middle">
        <span class="web">or</span>
        <span class="mobile">Or copy link!</span>
      </div>

      <div class="final-page_right">
        <div class="final-page_right_text web">Copy link below:</div>
        <div class="final-page_right_link">
          <input
            readonly="readonly"
            type="text"
            onClick="this.setSelectionRange(0, this.value.length)"
            [value]="url"
          />
        </div>
        <div class="final-page_right_button">
          <button
            class="btnNext final-pageBtn web"
            [class.copied]="copied"
            (click)="handleLinkCopy(url)"
          >
            <span *ngIf="!copied; else copiedTemplate">Copy Link</span>
            <ng-template #copiedTemplate
              ><span>Link has been clipped</span></ng-template
            >
          </button>
          <button class="btnNext mobile" (click)="handleLinkCopy(url)">
            Copy Link
          </button>
        </div>
      </div>
    </div>

    <div class="footer-logo">
      <div class="fizz-logo"></div>
      <div class="bottom-text" routerLink="/">Terms of Service</div>
    </div>
  </div>
</div>
