%flexCenter {
  display: flex;
  justify-content: center;
}

%flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexCenterEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

%flexCenterSpace-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*inner-container*/
%flexCenterColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

%flexColumnSpace-between {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

%bgDefaults {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin placeholder($color: rgba(255, 255, 255, 0.45)) {
  // Firefox
  &::-moz-placeholder {
    text-transform: capitalize;
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
    text-transform: capitalize;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
    text-transform: capitalize;
  }
  // Safari and Chrome
}

@mixin backgroundImage($size: cover) {
  @extend %bgDefaults;
  background-size: $size;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin background($size: contain) {
  background-size: $size;
  background-position: center;
}

$imageNames: (
  ("fizz-logo", "FizzcardLogo", "class png"),
  ("start-page", "start-page", "class bg"),
  ("preview-card", "start-page", "class bg"),
  ("start-page_mobile", "start-page", "class bg"),
  ("choose-image", "choose-image", "class bg"),
  ("personal-info", "personal-info", "class bg"),
  ("location", "location", "class bg"),
  ("contact-info", "contact-info", "class bg"),
  ("social-networks", "social-networks", "class bg"),
  ("card-style", "card-style", "class bg"),
  ("fizz-logo-black", "FizzcardLogoBlack", "class png"),
  ("creative-card", "creative-card_bg", "class card"),
  ("modern-card", "modern-card_bg", "class card"),
  ("minimalist-card", "minimal-card_bg", "class card"),
  ("creative-card-mobile", "creative-card_bg", "class card"),
  ("modern-card-mobile", "modern-card_bg", "class card"),
  ("minimalist-card-mobile", "minimal-card_bg", "class card"),
  ("facebook-logo", "facebook-logo", "class logo"),
  ("instagram-logo", "instagram-logo", "class logo"),
  ("linkedin-logo", "linkedin-logo", "class logo"),
  ("snapchat-logo", "snapchat-logo", "class logo"),
  ("soundcloud-logo", "soundcloud-logo", "class logo"),
  ("tiktok-logo", "tiktok-logo", "class logo"),
  ("twitter-logo", "twitter-logo", "class logo"),
  ("youtube-logo", "youtube-logo", "class logo")
);

@each $class, $name, $type in $imageNames {
  @if ($type == "class") {
    .#{$class} {
      background-image: url("#{$globalImgPath}#{$name}.png");
      background-image: -webkit-image-set(
        url("#{$globalImgPath}#{$name}.png") 1x,
        url("#{$globalImgPath}#{$name}@2x.png") 2x,
        url("#{$globalImgPath}#{$name}@2x.png") 3x
      );
    }
  }
  @if ($type == "class png") {
    .#{$class} {
      background-image: url("#{$globalPngPath}#{$name}.png");
      background-image: -webkit-image-set(
        url("#{$globalPngPath}#{$name}.png") 1x,
        url("#{$globalPngPath}#{$name}@2x.png") 2x,
        url("#{$globalPngPath}#{$name}@2x.png") 3x
      );
    }
  }
  @if ($type == "class card") {
    .#{$class} {
      background-image: url("#{$globalCardPath}#{$name}.png");
    }
  }
  @if ($type == "class bg") {
    .#{$class} {
      position: relative;
      @media screen and (max-width: 399px) {
        background-image: url("#{$globalBgPath}#{$name}-sm.png");
      }
      @media screen and (min-width: 400px) and (max-width: 1023px) {
        background-image: url("#{$globalBgPath}#{$name}-l.png");
      }
      @media screen and (min-width: 1024px) {
        background-image: url("#{$globalBgPath}#{$name}.png");
      }

      @extend %bgDefaults;
    }
  }

  @if ($type == "class logo") {
    .#{$class} {
      background-image: url("#{$globalLogoPath}#{$name}.png");
    }
  }
}

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, #{$list});
  background: -moz-linear-gradient($direction, #{$list});
  background: -o-linear-gradient($direction, #{$list});
  background: linear-gradient($direction, #{$list});
}

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  user-select: $select;
}

%buttonDefaults {
  background: transparent;
  text-align: center;
  line-height: 1;
  width: 100%;
  text-transform: capitalize;
  text-decoration: none;
  word-break: break-word;
  @include user-select(none);
}

@mixin button(
  $buttonBG: false,
  $fontSize: false,
  $borderColor: false,
  $borderWidth: false,
  $buttonBorderRadius: false,
  $buttonColor: false,
  $direction: false,
  $list: false,
  $shadow: false,
  $padding: 12px 10px
) {
  @if $direction {
    @include gradient($direction, $list);
  }
  @if $buttonBG {
    background-color: $buttonBG;
  }
  color: $buttonColor;
  @if $borderWidth {
    border: $borderWidth solid $borderColor;
  } @else {
    border: none;
  }
  @if $buttonBorderRadius {
    border-radius: $buttonBorderRadius;
  }
  @if $shadow {
    text-shadow: $shadow;
  }
  @extend %buttonDefaults;
  padding: $padding;
  font-size: $fontSize;
}
