* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  vertical-align: middle;
  appearance: none;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  focus-ring-color: rgba(0, 0, 0, 0);
  resize: none;
  outline: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-decoration-skip-ink: none;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//==========================================================================
//   Base
//   ========================================================================== */
// * 2. Prevent iOS text size adjust after orientation change, without disabling
// *    user zoom.
html {
  -webkit-text-size-adjust: 100%; /* 2 */
}

//  Remove default margin.
body {
  margin: 0;
}

// ==========================================================================
//   Links
//   ========================================================================== */
// * Address `outline` inconsistency between Chrome and other browsers.
a:focus {
  outline: thin dotted;
}

//Improve readability when focused and also mouse hovered in all browsers.
a:active,
a:hover {
  outline: 0;
}

// ==========================================================================
//   Typography
//   ========================================================================== */
// * Address variable `h1` font-size and margin within `section` and `article`
// * contexts in Firefox 4+, Safari 5, and Chrome.
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

//Address styling not present in IE 8/9, Safari 5, and Chrome.
abbr[title] {
  border-bottom: 1px dotted;
}

// * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
b,
strong {
  font-weight: bold;
}

// * Address styling not present in Safari 5 and Chrome.
dfn {
  font-style: italic;
}

// * Address differences between Firefox and other browsers.
hr {
  box-sizing: content-box;
  height: 0;
}

// * Correct font family set oddly in Safari 5 and Chrome.
code,
kbd,
pre,
samp {
  font-size: 1em;
}

// * Improve readability of pre-formatted text in all browsers.
pre {
  white-space: pre-wrap;
}

// * Set consistent quote types.
q {
  quotes: "\201C""\201D""\2018""\2019";
}

// * Address inconsistent and variable font size in all browsers.
small {
  font-size: 80%;
}

// * Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// ==========================================================================
//   Figures
//   ========================================================================== */
figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  padding: 0; /* 2 */
}

button,
input,
select,
textarea {
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  vertical-align: top; /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15; /* 1 */
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

// Remove the inner padding in Chrome and Safari on macOS.
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
