$globalImgPath: "/assets/images/";
$globalPngPath: "/assets/images/png/";
$globalBgPath: "/assets/images/page-backgrounds/";
$globalCardPath: "/assets/images/cards-backgrounds/";
$globalLogoPath: "/assets/images/logos/";
$globalIconPath: "/assets/styles/fonts/font-icons/";

$list1: "#295AFE -40%, #FC2D67 140%";

html {
  height: 100%;
  background-color: #000000;

  body {
    height: calc(100% + 1px);
    text-rendering: optimizeLegibility;
    color: #ffffff;
    font-family: ProximaNova, sans-serif;
    background-color: #00042e;
    @media screen and (min-width: 1024px) {
      height: auto;
    }
    .main {
      width: 100%;
      min-height: calc(var(--vh, 1vh) * 100);
      height: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
  }
}
