$startPageBgColor: #00042e;
$imageBgColor: #000f2d;
$imageContainerColor: #0a4ca7;
$personalInfoColor: #00042e;
$hoveredButtonColor: #fc2a53;
$blackColor: #000000;

$mainGrayColor: #f0edf7;

$carouselElementWidth: var(--carouselElementWidth);
$carouselMaxWidth: var(--carouselMaxWidth);

$bigTitleSize: var(--bigTitleSize);
$bigTextSize: var(--bigTextSize);

$bigHorizontalMargin: var(--bigHorizontalMargin);
$largeTopMargin: var(--largeTopMargin);
$largeBottomMargin: var(--largeBottomMargin);
$carouselHandlerMargin: var(--carouselHandlerMargin);
$logoBottomMargin: var(--logoBottomMargin);

$sliderElementSize: var(--sliderElementSize);

$mainTitleFontSize: var(--mainTitleFontSize);
$mainTextFontSize: var(--mainTextFontSize);

:root {
  --carouselElementWidth: 236px;
  --carouselMaxWidth: 913px;
  --bigTitleSize: 238px;
  --bigTextSize: 26px;
  --largeTopMargin: -92px;
  --largeBottomMargin: 74px;
  --bigHorizontalMargin: 58px;
  --carouselHandlerMargin: 23px;
  --carouselHandlerSize: calc(2vh + 2.2vw);
  --logoBottomMargin: 27px;
  --sliderElementSize: 19px;
  --mainTitleFontSize: 50px;
  --mainTextFontSize: 22px;
}

@media only screen and (max-width: 1680px) {
  :root {
    --carouselElementWidth: 206.5px;
    --carouselMaxWidth: 799px;
    --bigTitleSize: 302px;
    --bigTextSize: 22.75px;
    --largeTopMargin: -70px;
    --largeBottomMargin: 45px;
  }
}

@media only screen and (max-width: 1440px) {
  :root {
    --carouselElementWidth: 140px;
    --carouselMaxWidth: 542px;
    --bigTitleSize: 259px;
    --bigTextSize: 19.5px;
    --largeBottomMargin: 20px;
    --bigHorizontalMargin: 18px;
    --carouselHandlerMargin: 10px;
    --carouselHandlerSize: 47px;
    --logoBottomMargin: 127px;
    --sliderElementSize: 14px;
  }
}

@media only screen and (max-width: 1023px) {
  :root {
    --mainTitleFontSize: 26px;
    --mainTextFontSize: 18px;
  }
}
