<div [class.menu]="showMenu" [className]="'cardView ' + card">
  <div class="rotateBlock"></div>

  <header>
    <div (click)="toggleMenu()" class="burgerMenu">
      <div></div>
    </div>
    <div class="fizz-logo"></div>
  </header>

  <menu>
    <ul class="menuItem">
      <li
        (click)="setSelectedMenuCategory(MenuCategory.Share)"
        class="menuItem_sub"
      >
        <span [class.active]="selectedMenuCategory === MenuCategory.Share">
          Share
        </span>
        <ul
          class="menuItem_sub_item"
          [class.active]="selectedMenuCategory === MenuCategory.Share"
        >
          <li (click)="goQR()" *ngIf="isShow">Qr Code</li>
          <li class="text-message">
            <a [href]="getSmsStringForCurrentUrl()">TEXT MESSAGE</a>
          </li>
          <li (click)="share$.emit($event)">EMAIL</li>
        </ul>
      </li>
      <li class="menuItem_sub">
        <span
          (click)="
            saveToHome($event); setSelectedMenuCategory(MenuCategory.Save)
          "
          [class.active]="selectedMenuCategory === MenuCategory.Save"
        >
          SAVE TO HOME SCREEN
        </span>
        <ul
          class="menuItem_sub_link"
          [class.active]="selectedMenuCategory === MenuCategory.Save"
        >
          <li>
            <p>Step 1 :</p>
            <span>
              Click Share Icon <span class="icon"></span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10.5"
                height="14.005"
                viewBox="0 0 10.5 14.005"
              >
                <g
                  id="Icon_feather-share"
                  data-name="Icon feather-share"
                  transform="translate(-5.5 -2.5)"
                >
                  <path
                    id="Path_43"
                    data-name="Path 43"
                    d="M6,18v6a1.371,1.371,0,0,0,1.188,1.5h7.125A1.371,1.371,0,0,0,15.5,24V18"
                    transform="translate(0 -9.495)"
                    fill="none"
                    stroke="#5f5f5f"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1"
                  />
                  <path
                    id="Path_44"
                    data-name="Path 44"
                    d="M18,6,15,3,12,6"
                    transform="translate(-4.25)"
                    fill="none"
                    stroke="#5f5f5f"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1"
                  />
                  <path
                    id="Path_45"
                    data-name="Path 45"
                    d="M18,3v9.75"
                    transform="translate(-7.25)"
                    fill="none"
                    stroke="#5f5f5f"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1"
                  />
                </g>
              </svg>
            </span>
          </li>
          <li>
            <p>Step 2 :</p>
            <span>
              Tap add to Home Screen
              <span class="icon"></span>
              <svg
                id="Component_35_38"
                data-name="Component 35 – 38"
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                viewBox="0 0 15 15"
              >
                <g
                  id="Group_133"
                  data-name="Group 133"
                  transform="translate(-126 -321)"
                >
                  <g
                    id="Rectangle_158"
                    data-name="Rectangle 158"
                    transform="translate(126 321)"
                    fill="none"
                    stroke="#5f5f5f"
                    stroke-width="1"
                  >
                    <rect width="15" height="15" rx="2" stroke="none" />
                    <rect
                      x="0.5"
                      y="0.5"
                      width="14"
                      height="14"
                      rx="1.5"
                      fill="none"
                    />
                  </g>
                  <path
                    id="Icon_ionic-ios-add"
                    data-name="Icon ionic-ios-add"
                    d="M15.4,11.969H12.823V9.392a.427.427,0,0,0-.854,0v2.577H9.392a.427.427,0,0,0,0,.854h2.577V15.4a.427.427,0,1,0,.854,0V12.823H15.4a.427.427,0,1,0,0-.854Z"
                    transform="translate(121.422 316.407)"
                    fill="#5f5f5f"
                  />
                </g>
              </svg>
            </span>
          </li>
          <li>
            <p>Step 3 :</p>
            <span>
              <span>Tap </span><b>“Add”</b> <span class="icon"></span>
            </span>
          </li>
        </ul>
      </li>
      <li class="menuItem_sub">
        <span (click)="handleDesignYoursClick()"> DESIGN YOURS</span>
      </li>
    </ul>
    <div class="fizz-logo-black"></div>
  </menu>

  <main [class.selected]="selectedObject.index !== null" class="card">
    <div
      class="card_bgBlock"
      [class.no-social]="!showSocials"
      [class.has-selected]="selectedObject.index != null"
      [class]="'bg-' + contactInfo?.length || 0"
    >
      <div
        #avatar
        [style.backgroundImage]="image"
        class="card_bgBlock_content"
      ></div>
      <div class="card_info">
        <div class="card_info_name" [class.loadingWithDelay]="loadingWithDelay">
          <span>{{ firstName }}</span>
          <span> {{ lastName }}</span>
        </div>
        <div class="card_info_desk">
          <span>
            <span class="card_info_desk_title"
              ><span>{{ user.personalInfo.title }}</span></span
            >
            <span class="line"><span> | </span> </span>
            <span class="card_info_desk_company"
              ><span>{{ user.personalInfo.company }}</span>
            </span>
          </span>
        </div>
      </div>
    </div>

    <div
      #contactEl
      class="card_contacts"
      [class.loadingWithDelay]="loadingWithDelay"
      [class.no-social]="!showSocials"
      [class.has-selected]="selectedObject.index != null"
      [class]="'cards-' + contactInfo?.length || 0"
    >
      <div
        (click)="handleContactClick(i)"
        *ngFor="let contact of contactInfo; let i = index"
        [class.active]="selectedObject.index === i"
        [class]="'tile ' + contact.key"
      >
        <div class="card_info">
          <div
            class="card_info_name"
            [class.loadingWithDelay]="loadingWithDelay"
          >
            <span>{{ firstName }} {{ lastName }}</span>
          </div>
          <div class="card_info_desk">
            <span>
              <span class="card_info_desk_title">{{
                user.personalInfo.title
              }}</span>
              <span class="line"> | </span>
              <span class="card_info_desk_company">
                {{ user.personalInfo.company }}</span
              >
            </span>
          </div>
        </div>

        <span [ngClass]="['tile_icon', 'icon-' + contact.key]"> </span>
        <span class="tile_name_big"> {{ contact?.headerText }}</span>
        <span class="tile_name_small"> {{ contact.title }} </span>
        <span class="tile_content"
          ><span>{{ contact.value | removeHttp }}</span>
        </span>

        <div class="linkBlock">
          <a
            [href]="contact.linkHref + contact.value"
            class="tile_actionBtn"
            target="_blank"
          >
            <span>{{ contact.btnText }}</span>
          </a>

          <a
            *ngIf="contact.key === 'phone'"
            class="tile_actionBtn message"
            [href]="getSmsStringFromNumber(contact.value)"
            target="_blank"
          >
            <span>Message</span>
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="showSocials" class="card_social">
      <div
        #socialBlock
        [class.no-scroll]="socialNoScroll"
        class="card_social_block"
      >
        <ng-container *ngFor="let link of userLinks | keyvalue">
          <a *ngIf="link.value" [href]="link.value" target="_blank">
            <div
              [ngClass]="link.key && link.value ? link.key + '-logo' : ''"
              class="icon"
            ></div>
          </a>
        </ng-container>
      </div>
    </div>
  </main>
</div>
