:host {
  .cardView.modern:not(.menu) {
    --phone-min-size: 342.44px;
    --phone-margin-top: -42px;
    --phone-margin-bottom: 53px;
    --selected-tile-margin-bottom: 42px;
    --phone-icon-scale: 1.42;
    --phone-icon-margin-top: 17px;
    --phone-content-margin-bottom: 27.2px;
    --icon-size: 85px;
    --title-name-small-font: 17px;
    --title-name-small-margin-top: 20px;
    --card-bittom: 60px;
    --bgBlock-margin-top: 50px;
    --bgBlock-padding-left: 40px;
    main.card .card_bgBlock:not(.bg-1).no-social.has-selected {
      margin-top: var(--bgBlock-margin-top);
      padding-left: var(--bgBlock-padding-left);
    }
    main.card .card_contacts.no-social.has-selected {
      &.cards-1 {
        bottom: 0;
      }
      padding: 0;
      margin: 0 auto;
      position: relative;
      bottom: var(--card-bittom);
      .tile.active {
        &.phone {
          min-width: var(--phone-min-size) !important;
          min-height: var(--phone-min-size) !important;
          border-radius: calc(var(--phone-min-size) / 2) !important;
          margin-top: var(--phone-margin-top);
          margin-bottom: var(--phone-margin-bottom);
          span.tile_icon.icon-phone {
            transform: scale(var(--phone-icon-scale)) !important;
            margin-top: var(--phone-icon-margin-top);
          }
          span.tile_name_big {
            margin-top: 6.6px;
          }
          span.tile_content {
            margin-bottom: var(--phone-content-margin-bottom);
          }
        }
        margin-bottom: var(--selected-tile-margin-bottom);
      }
      .tile:not(.active) {
        //display: none;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        .tile_icon {
          width: var(--icon-size);
          height: var(--icon-size);
          padding: 0;
          margin: 0;
        }

        .tile_name_small {
          font-size: var(--title-name-small-font);
          margin-top: var(--title-name-small-margin-top);
        }
      }
    }
    @media screen and (max-width: 400px) {
      main.card .card_contacts.no-social.has-selected {
        max-width: 263px;
      }
      --phone-min-size: 225px;
      --phone-margin-top: unset;
      --phone-margin-bottom: 32px;
      --selected-tile-margin-bottom: 32px;
      --phone-icon-scale: 0.9;
      --phone-icon-margin-top: -6px;
      --phone-content-margin-bottom: 0;
      --icon-size: 66px;
      --title-name-small-font: 13px;
      --title-name-small-margin-top: 7px;
      --card-bittom: 40px;

      --bgBlock-margin-top: 41px;
      --bgBlock-padding-left: 64px;
    }

    @media screen and (max-width: 400px) and (min-height: 600px) {
      // cover narrow but long screens
    }
  }

  span.active {
    color: #0dbaad;
  }

  .text-message {
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
