
<div>
  <div class="btn-wrapper" *ngIf="showMenuIcon" (click)="menuEventHandler.emit()">
    <div class="btn-item one"></div>
    <div class="btn-item two "></div>
    <div class="btn-item free"></div>
  </div>

  <div class="fizz-logo"></div>
</div>
