<div class="contact-info main-container" [class.mobile]="isMobile">
  <div class="fizz-logo"></div>

  <div class="contact-info_container inner-container">
    <div class="fizz-logo desktopView"></div>
    <div class="header-texts">
      <div class="page_container_title">Contact Info</div>
      <div class="page_container_text">Add Your Contact Info</div>
    </div>

    <form [formGroup]="contactInfoForm">
      <div class="form-group">
        <input
          class="form-control"
          formControlName="website"
          placeholder="Website"
          type="text"
          [class.warning]="
            contactInfoForm.get('website').invalid &&
            contactInfoForm.get('website').dirty &&
            isErrorVisible
          "
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </div>

      <div class="form-group">
        <input
          class="form-control"
          formControlName="email"
          placeholder="Email"
          type="text"
          [class.warning]="
            contactInfoForm.get('email').invalid &&
            contactInfoForm.get('email').dirty &&
            isErrorVisible &&
            contactInfoForm.get('website').valid
          "
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </div>

      <div class="form-group">
        <input
          appPhoneMask
          class="form-control"
          formControlName="phone"
          placeholder="Phone Number"
          type="text"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          inputmode="tel"
        />
      </div>
    </form>

    <div class="slider-icons">
      <div
        class="error-message"
        *ngIf="contactInfoForm.invalid && isErrorVisible"
      >
        <div *ngIf="contactInfoForm.get('website').hasError('pattern')">
          Valid website format: example.com
        </div>

        <div
          *ngIf="
            contactInfoForm.get('website').hasError('maxlength') &&
            !contactInfoForm.get('website').hasError('pattern')
          "
        >
          Website should be no more than
          {{ contactInfoForm.get("website").errors.maxlength.requiredLength }}
          characters
        </div>

        <div
          *ngIf="
            contactInfoForm.get('email').hasError('pattern') &&
            contactInfoForm.get('website').valid
          "
        >
          Valid email format: john@examaple.com
        </div>
      </div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon active"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
    </div>

    <div class="navigation_buttons_container">
      <div class="btn-container">
        <button class="btnBack" routerLink="/card-create/location">
          <i class="icon-arrow-left"></i>
          <span>Back</span>
        </button>

        <button
          class="btnNext"
          [ngClass]="contactInfoForm.valid ? 'active' : 'disabled'"
          (click)="handleClick()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
