<div class="personal-info main-container mobile">
  <app-logo></app-logo>

  <div class="personal-info_container inner-container">
    <div class="fizz-logo desktopView"></div>
    <div class="header-texts">
      <div class="page_container_title">Tell Us About You</div>
      <div class="page_container_text">
        Add Your Personal Information below to get started!
      </div>
    </div>

    <form class="personal" [formGroup]="personalInfoForm">
      <div class="form-group">
        <input
          minlength="1"
          (input)="checkingValue($event, 'firstName', 28)"
          [class.warning]="
            personalInfoForm.get('firstName').invalid &&
            personalInfoForm.get('firstName').dirty
          "
          class="form-control capitalize"
          formControlName="firstName"
          placeholder="First Name*"
          type="text"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="on"
          spellcheck="false"
        />
      </div>
      <div class="form-group">
        <input
          minlength="1"
          (input)="checkingValue($event, 'lastName', 32)"
          [class.warning]="
            personalInfoForm.get('lastName').invalid &&
            personalInfoForm.get('lastName').dirty
          "
          class="form-control"
          formControlName="lastName"
          placeholder="Last Name"
          type="text"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="on"
          spellcheck="false"
        />
      </div>
      <div class="form-group">
        <input
          (input)="checkingValue($event, 'title', 40)"
          class="form-control"
          formControlName="title"
          placeholder="Title"
          type="text"
          [class.warning]="
            personalInfoForm.get('title').invalid &&
            personalInfoForm.get('title').dirty
          "
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </div>

      <div class="form-group">
        <input
          class="form-control"
          (input)="checkingValue($event, 'company', 40)"
          formControlName="company"
          placeholder="Company"
          type="text"
          [class.warning]="
            personalInfoForm.get('company').invalid &&
            personalInfoForm.get('company').dirty
          "
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </div>
    </form>
    <div class="slider-icons">
      <div
        class="error-message"
        *ngIf="personalInfoForm.invalid && isErrorVisible"
      >
        <div *ngIf="personalInfoForm.get('firstName').hasError('required')">
          Enter First Name to continue.
        </div>

        <div
          *ngIf="
            personalInfoForm.get('lastName').hasError('required') &&
            personalInfoForm.get('firstName').valid
          "
        >
          Enter Last Name to continue.
        </div>
      </div>
      <div class="slider-icon"></div>
      <div class="slider-icon active"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
      <div class="slider-icon"></div>
    </div>
    <div class="navigation_buttons_container">
      <div class="btn-container">
        <button class="btnBack" routerLink="/card-create">
          <i class="icon-arrow-left"></i>
          <span>Back</span>
        </button>

        <button
          class="btnNext"
          [ngClass]="personalInfoForm.valid ? 'active' : 'disabled'"
          (click)="handleClick()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
